<!DOCTYPE html>
<!--[if IEMobile 7 ]><html class="no-js iem7" manifest="default.appcache?v=1"><![endif]-->
<!--[if lt IE 7 ]><html class="no-js ie6" lang="en"><![endif]-->
<!--[if IE 7 ]><html class="no-js ie7" lang="en"><![endif]-->
<!--[if IE 8 ]><html class="no-js ie8" lang="en"><![endif]-->
<!--[if (gte IE 9)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!--><html class="no-js" lang="en"><!--<![endif]-->

<head>
	<meta charset="UTF-8" />
	<title>Events in Ann Arbor | The Ann Arbor Chronicle Event Listing</title>
	
	<!-- http://t.co/dKP3o1e -->
	<meta name="HandheldFriendly" content="True">
	<meta name="MobileOptimized" content="320">
	<meta name="viewport" content="width=device-width, target-densitydpi=160dpi, initial-scale=1">
	
	<!-- For all browsers -->
	<link rel="stylesheet" media="all" href="http://annarborchronicle.com/wp-content/themes/chronicle/css/master.css" />
	<link rel="stylesheet" media="print" href="http://annarborchronicle.com/wp-content/themes/chronicle/css/print.css">
	
	<!-- Font size stylesheets -->
	<link rel="stylesheet" href="http://annarborchronicle.com/wp-content/themes/chronicle/css/default.css" title="default text"/>
	<link rel="alternate stylesheet" media="screen" href="http://annarborchronicle.com/wp-content/themes/chronicle/css/bigger.css" title="larger text" />
	<link rel="alternate stylesheet" media="screen" href="http://annarborchronicle.com/wp-content/themes/chronicle/css/smaller.css" title="smaller text" />
	
	<!-- Icons -->
	<link rel="icon" type="image/png" href="http://annarborchronicle.com/wp-content/themes/chronicle/images/pocketwatch.png" />
	
	<!-- Skyclock's non-valid Flash dependency script -->
	<script src="http://annarborchronicle.com/wp-content/themes/chronicle/js/AC_RunActiveContent.js" type="text/javascript"></script>
		
	<!-- JavaScript at bottom except for Modernizr -->

<!-- Elm City -->
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script> -->
<link type="text/css" rel="stylesheet" href="__CSSURL__"/>
<!-- /Elm City -->

	<script src="http://annarborchronicle.com/wp-content/themes/chronicle/js/libs/modernizr-1.7.min.js"></script>

	
	<!--Microsoft -->
	<meta http-equiv="cleartype" content="on">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	
	
	<!-- WordPress -->
	<link rel="alternate" type="application/rss+xml" title="The Ann Arbor Chronicle RSS Feed" href="http://annarborchronicle.com/feed/" />
	<link rel="pingback" href="http://annarborchronicle.com/xmlrpc.php" />
	 

			<link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://annarborchronicle.com/xmlrpc.php?rsd" />
			<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://annarborchronicle.com/wp-includes/wlwmanifest.xml" /> 
			<link rel='prev' title='Recent Comments' href='http://annarborchronicle.com/recent-comments/' />
			<link rel='next' title='Chronicle Comments Policy' href='http://annarborchronicle.com/comments/' />


<!-- Elm City -->
<meta name="description" content="__META__">

<!-- JQUERY_UI_CSS -->
<link type="text/css" href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.20/themes/smoothness/jquery-ui.css" rel="stylesheet" />
<!-- /JQUERY_UI_CSS -->

<script type='text/javascript' src='http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.7.2.min.js'></script>

<script type='text/javascript' src='http://elmcity.blob.core.windows.net/admin/jquery.cookie.js'></script>

<script type='text/javascript' src='http://elmcity.blob.core.windows.net/admin/extensions.js'></script>

<!-- JQUERY_UI -->
<script type='text/javascript' src='http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.20/jquery-ui.min.js'></script>
<!-- /JQUERY_UI -->

<!-- JSURL -->
<script type="text/javascript" src="__JSURL__"></script> 
<!-- /JSURL -->

<script>
var top_element = 'elmcity_sidebar_top';
var top_offset = 140;
top_method = 0;
</script>

<style>

.bl, .ed, .intro { width:65% }

#sidebar { left:80% }

@media only screen and (min-width:1000px) and (max-width:1099px) { 
body { min-width: 1000px; max-width: 1099px }
}

@media only screen and (min-width:900px) and (max-width:999px) { 
body { min-width: 900px; max-width: 999px }
}

@media only screen and (min-width:800px) and (max-width:899px) { 
body { min-width: 800px; max-width: 899px }
}

@media only screen and (min-width:700px) and (max-width:799px) { 
body { min-width: 700px; max-width: 799px }
}

@media only screen and (min-width:600px) and (max-width:699px) { 
body { min-width: 600px; max-width: 699px }
}

@media only screen and (min-width:500px) and (max-width:599px) { 
body { min-width: 500px; max-width: 599px }
}

@media only screen and (min-width:400px) and (max-width:599px) { 
body { min-width: 400px; max-width: 499px }
}

@media only screen and (min-width:300px) and (max-width:399px) { 
body { min-width: 300px; max-width: 399px }
}

@media only screen and (min-width:200px) and (max-width:299px) { 
body { min-width: 200px; max-width: 299px }
}

@media only screen and ( max-width: 2000px) {
#sidebar { margin-left: -12% }
}

@media only screen and ( max-width: 1600px) {
#sidebar { margin-left: -10% }
}

@media only screen and ( max-width: 1500px) {
#sidebar { margin-left: -10% }
}

@media only screen and ( max-width: 1400px) {
#sidebar { margin-left: -8% }
}

@media only screen and ( max-width: 1300px) {
#sidebar { margin-left: -6% }
}

@media only screen and ( max-width: 1200px) {
#sidebar { margin-left: -2% }
}

@media only screen and ( max-width: 1200px) {
#sidebar { margin-left: 0 }
}

@media only screen and ( max-width: 800px) {
#sidebar { margin-left: -2% }
}

@media only screen and ( max-width: 600px) {
#sidebar { margin-left: -14% }
}

@media only screen and ( max-width: 500px) {
#sidebar { margin-left: -16% }
}

@media only screen and ( max-width: 400px) {
#sidebar { margin-left: -18% }
}

@media only screen and (max-width:850px) { 
#chronicle { width: 80% }
}

@media only screen and (max-width:750px) { 
#masthead { background-image: none }
#sizeSubscribe { display: none }
#location { display: none }
#banner { background-color: black; height:4px }
#pasteboard { margin-top: -40px }
}

@media only screen and (max-width:600px) { 
.bl, .ed, .intro { width:60% }
#chronicle { width: 70% }
#featured { display: none }
#pasteboard.fullwidth #stories { margin: 0 0 0 0 }
#inner-wrap { border-style: none }
}

@media only screen and (max-width:400px) { 
#sidebar { left: 72% }
.bl, .ed, .intro { width:45% }
#category_image img { width: 120px }
#windowsazure img { width: 120px }
#sources { display: none }
#about { display: none }
footer { display:none }
}

p.sidebar { line-height: 2 }
p.elmcity_info_para { margin-top:8px } 

</style>



<!-- /Elm City -->

	
			</head>

<body class="page_about-us template_page">

<header role="banner" id="masthead">
    <a href="http://annarborchronicle.com/"><img id="chronicle" src="http://annarborchronicle.com/wp-content/themes/chronicle/images/chronicle-title.jpg" alt="The Ann Arbor Chronicle masthead" /></a>
    
    <div id="tagline">it&#039;s like being there</div>
    
    <div id="banner">
    	<div id="location">Ann Arbor, Michigan</div>
		<div id="sizeSubscribe">
    		<a href="http://annarborchronicle.com/tip-jar/" class="tip-jar">Subscribe</a>
			<span id="styleswitcher">
				<p>Text size:</p>

				<a href="#" 
				onclick="setActiveStyleSheet('larger text'); 
				return false;"><img src="http://annarborchronicle.com/wp-content/themes/chronicle/images/bigger.jpg" alt="larger text" /></a>

				<a href="#" 
				onclick="setActiveStyleSheet('default text'); 
				return false;"><img src="http://annarborchronicle.com/wp-content/themes/chronicle/images/default.jpg" alt="default text" /></a>

				<a href="#" 
				onclick="setActiveStyleSheet('smaller text'); 
				return false;"><img src="http://annarborchronicle.com/wp-content/themes/chronicle/images/smaller.jpg" alt="smaller text" /></a>
			</span>
		</div> <!--/#sizeSubscribe-->
    </div>
</header>

<div id="pasteboard" class="fullwidth">
    <div id="outer-wrap">
        <div id="inner-wrap">
            <div id="stories-wrap">
                <section id="stories" role="main">
								
					<article class="page" id="post-9">

<!-- SIDEBAR -->

<div id="sidebar" style="visibility:hidden;text-align:center;position:absolute;width:150px;">

<!-- DATEPICKER -->

<div style="visibility:hidden" id="datepicker"></div>

<!-- /DATEPICKER -->

<!-- TAGS -->
<p style="margin-top:30px" id="tags">
<!--__CATEGORIES__-->
<!--__TAGS__-->
</p>
<!-- /TAGS -->

<p style="margin-top:10px" id="category_image"></p>

<div id="sources">
<p class="sidebar" style="font-style:italic;margin-top:30px">sources</p>

<p class="sidebar" style="font-weight:bold"><a title="These are iCalendar feeds from organizations, clubs, and groups. Got one to contribute? Contact the curator!" target="_new" href="http://__APPDOMAIN__/services/__ID__/stats">__FEEDCOUNT__ iCalendar feeds</a></p>


<p class="sidebar" id="logos" style="width:150px;text-align:center">

<span id="eventful_logo" style="display:__EVENTFUL_LOGO_DISPLAY__">
<a title="eventful" href="http://eventful.com"><img style="margin:4px" alt="Local Events, Concerts, Tickets" src="http://elmcity.blob.core.windows.net/admin/eventful_logo.gif"></a>
</span>
<span id="eventbrite_logo" style="display:__EVENTBRITE_LOGO_DISPLAY__">
<a title="eventbrite" href="http://eventbrite.com"><img style="margin:4px" src="http://elmcity.blob.core.windows.net/admin/eventbrite_logo.jpg"></a>
</span>
<span id="facebook_logo" style="display:__FACEBOOK_LOGO_DISPLAY__">
<a title="facebook" href="http://facebook.com"><img style="margin:4px" src="http://elmcity.blob.core.windows.net/admin/facebook.png"></a>
</span>
<span id="meetup_logo" style="display:__MEETUP_LOGO_DISPLAY__">
<a title="meetup" href="http://meetup.com"><img style="margin:4px" src="http://elmcity.blob.core.windows.net/admin/meetup.png"></a>
</span>
</p>

<hr>
</div>

<div id="about">

<p class="sidebar">
<a title="about" target="elmcity_about" href="/about">about this hub</a>
</p>

<p class="sidebar">
<a title="how to post" target="_new" href="http://blog.jonudell.net/elmcity-project-faq/#contribute">how to post events</a>
</p>

<p class="sidebar">
<a title="contact the curator" href="mailto:__CONTACT__?subject=calendar question or comment">contact the curator</a>
</p>

<p class="sidebar">
<a id="subscribe" title="subscribe your calendar to this view" href="/ics?view=__VIEW__"></a>
</p>


<hr>
</div>

<p class="sidebar">
<a target="azure" title="powered by windows azure" id="windowsazure" href="http://windowsazure.com"><img style="margin-top:10px" src="http://elmcity.blob.core.windows.net/admin/pbwa.png"></a>
</p>

</div>

<!-- /SIDEBAR -->


					<header>
							<h1 class="intro" id="elmcity_sidebar_top">Events in Ann Arbor</h1>
						</header>
							
						<div class="entry page">

<!-- Elm City: anchor for controls -->


<p class="intro">

<!-- /Elm City -->

<!-- <p> -->

Looking for an event in Ann Arbor? The calendar below is the most up-to-date, accurate, and extensive listing of what to do in Ann Arbor. <a href="http://annarborchronicle.com/add-events-to-the-chronicles-listing/">It's easy to add your organization's events</a>. Browse through the complete listing, visit our <a href="http://annarborchronicle.com/calendar-widget-test/">mini-calendar page</a>. Or click on these main categories to filter:
<ul class="intro">
        <li style="display: inline; margin: 2px; padding: 2px;">[<a href="http://events.annarborchronicle.com/html?view=bodypub"><strong>Govt/Civic</strong></a>]</li>
        <li style="display: inline; margin: 2px; padding: 2px;">[<a href="http://events.annarborchronicle.com/html?view=faith"><strong>Faith</strong></a>]</li>
        <li style="display: inline; margin: 2px; padding: 2px;">[<a href="http://events.annarborchronicle.com/html?view=learn"><strong>Learn</strong></a>]</li>
        <li style="display: inline; margin: 2px; padding: 2px;">[<a href="http://events.annarborchronicle.com/html?view=social"><strong>Socialize</strong></a>]</li>
        <li style="display: inline; margin: 2px; padding: 2px;">[<a href="http://events.annarborchronicle.com/html?view=entertainment"><strong>Entertainment</strong></a>]</li>
        <li style="display: inline; margin: 2px; padding: 2px;">[<a href="http://events.annarborchronicle.com/html?view=mainstreetaa"><strong>Main Street!</strong></a>]</li>
</ul>

</p>
					</div>

<!-- Elm City -->

<div id="body">

<div id="image_json">
<script>
__CATEGORY_IMAGES__
__SOURCE_IMAGES__
</script>
</div>


<div id="elmcity_id" style="display:none">
__ID__
</div>

<div id="mobile_detected" style="display:none">
__MOBILE_NOT_DETECTED__
</div>


<!-- begin events -->

<div class="events" id="event-listing" style="clear:left">

__EVENTS__

</div>

<!-- end events -->

</div>

<!--
__GENERATED__
-->

<!-- /Elm City -->

					</article>
		
					
                </section>
            </div> <!--close #stories-wrap -->
      
 <aside id="featured" role="complementary">
	
	<div id="rossNav">
		<h2 class="section">Around the Chronicle</h2>
		<ul id="primaryNavigation">
			<li><a href="http://annarborchronicle.com/">&raquo; Front Page</a></li>
			<li><a href="http://annarborchronicle.com/recent-comments">&raquo; Comments</a></li>
			<li><a href="http://annarborchronicle.com/category/stopped-watched">&raquo; Stopped. Watched.</a></li> 
			<li><a href="http://annarborchronicle.com/category/civic-news-ticker">&raquo; Civic News Ticker</a></li>
		</ul>
		<ul id="utilityNavigation">
			<li><a href="http://annarborchronicle.com/about-us">&raquo; About the Chronicle</a></li>
			<li><a href="http://annarborchronicle.com/archives">&raquo; Archives</a></li>
			<li><a href="http://annarborchronicle.com/advertise">&raquo; Advertise</a></li>
			<li><a href="http://annarborchronicle.com/contact">&raquo; Contact Us</a></li>
			<li><a href="http://annarborchronicle.com/feed/">&raquo; RSS Feed</a> | <a href="/feed-yourself-the-chronicle/">&raquo; Filtered</a></li>
		</ul>
	</div>
		
	<h2 class="section">More Local Coverage:</h2>
		<ul>
			<li class=""><a href="http://arborweb.com">The Ann Arbor Observer</a></li>
			<li class=""><a href="http://lucyannlance.com/">Lucy Ann Lance</a></li>
			<li><a href="http://www.theannmagazine.com/">The Ann Magazine</a></li>
		</ul>
		
		<div class='support_the_chronicle' id='a5fbf34ede5f3594affad4521219a2e3a'></div>
		<div class='support_the_chronicle' id='a79ad5c18ea0fded6ef972b06c5201b03'></div>
		<div class='support_the_chronicle' id='abb4452b84976b215d09ae8aca8be8f05'></div>
		
			<script src="http://advertisements.heroku.com/javascripts/api/base.js"></script>
			<script>
			   window.onload = function (){
			      Advertisements.register('.support_the_chronicle');
			      };
			</script>


		
	
  		</div> <!-- close #inner-wrap -->
	</div> <!-- close #outer-wrap -->
</div> <!-- close #pasteboard -->

<footer role="contentinfo">
	<nav id="auxnav" role="navigation">
		<ul id="categoryNavigation">
				<li class="cat-item cat-item-3"><a href="http://annarborchronicle.com/category/business/" title="View all posts filed under Business">Business</a>
</li>
	<li class="cat-item cat-item-4"><a href="http://annarborchronicle.com/category/education/" title="View all posts filed under Education">Education</a>
</li>
	<li class="cat-item cat-item-5"><a href="http://annarborchronicle.com/category/entertainment/" title="View all posts filed under Entertainment">Entertainment</a>
</li>
	<li class="cat-item cat-item-6"><a href="http://annarborchronicle.com/category/environment/" title="View all posts filed under Environment">Environment</a>
</li>
	<li class="cat-item cat-item-7"><a href="http://annarborchronicle.com/category/government/" title="View all posts filed under Govt.">Govt.</a>
</li>
	<li class="cat-item cat-item-571"><a href="http://annarborchronicle.com/category/meeting-watch/" title="View all posts filed under Meeting Watch">Meeting Watch</a>
</li>
	<li class="cat-item cat-item-9"><a href="http://annarborchronicle.com/category/neighborhoods/" title="View all posts filed under Neighborhoods">Neighborhoods</a>
</li>
	<li class="cat-item cat-item-176"><a href="http://annarborchronicle.com/category/opinion/" title="View all posts filed under Opinion">Opinion</a>
</li>
		</ul>
		
		<ul id="utilityNavigation">
			<li><a href="http://annarborchronicle.com/become-a-correspondent">Become a Correspondent</a></li>
			<li><a href="http://annarborchronicle.com/advertise">Advertise</a></li>
			<li><a href="http://annarborchronicle.com/feed/">RSS Feed</a> | <a href="/feed-yourself-the-chronicle/"> Filtered</a></li>
			<li class="lastitem"><a href="http://annarborchronicle.com/contact/">Contact Us</a></li>
		</ul>
		
		<p>Copyright 2013 The Ann Arbor Chronicle &mdash; This site powered by <a href="http://wordpress.org">WordPress</a></p>
	</nav>
</footer>


<!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.js"></script> -->
<!-- <script>window.jQuery || document.write('<script src="js/libs/jquery-1.5.1.min.js">\x3C/script>')</script> -->

<!-- Scripts -->

<!-- Elm City: never found so omitted

<script src="http://annarborchronicle.com/js/plugins.js"></script>
<script src="http://annarborchronicle.com/js/script.js"></script>
--> 

<script src="http://annarborchronicle.com/wp-content/themes/chronicle/js/styleswitcher.js"></script>
<script src="http://annarborchronicle.com/wp-content/themes/chronicle/js/annarborchronicle.js"></script>

<script src="http://advertisements.heroku.com/javascripts/api/base.js"></script>
<script>
   window.onload = function (){
      Advertisements.register('.support_the_chronicle');
      };
</script>



<!--[if (lt IE 9) & (!IEMobile)]>
<script src="http://annarborchronicle.com/js/libs/DOMAssistantCompressed-2.8.js"></script>
<script src="http://annarborchronicle.com/js/libs/selectivizr-1.0.1.js"></script>
<script src="http://annarborchronicle.com/js/libs/respond.min.js"></script>
<![endif]-->

<!--stats_footer_test-->

<script src="http://stats.wordpress.com/e-201314.js" type="text/javascript"></script>
<script type="text/javascript">
function wpstats()
  {
  st_go({blog:'4623190',v:'ext',post:'9'});
  var load_cmc = function(){linktracker_init(4623190,9,2);};
  if ( typeof addLoadEvent != 'undefined' ) addLoadEvent(load_cmc);
  else load_cmc();
  }
wpstats();
</script>


            <script type="text/javascript">//<![CDATA[
            // Google Analytics for WordPress by Yoast v4.3.2 | http://yoast.com/wordpress/google-analytics/
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-31219728-1']);
				            _gaq.push(['_trackPageview']);
            (function () {
                var ga = document.createElement('script');
                ga.type = 'text/javascript';
                ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';

                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(ga, s);
            })();
            //]]></script>


<div id="elmcity_metadata" style="display:none">
__METADATA__
</div> 

<script>
__DEFAULT_ARGS__
</script>
		
</body>
</html>