#elmcity_sidebar { margin-left:850px} 
.bl { width:78% }
.ed { width:74% }
#tags2 { display: none }

@media screen and (max-width:1100px) { 
#elmcity_sidebar { margin-left:80%} 
.bl { width:76% }
.ed { width:72% }
#tags2 { display: none }
}

@media screen and (max-width:1000px) { 
#elmcity_sidebar { margin-left:78%} 
.bl { width:76% }
.ed { width:72% }
#tags2 { display: none }
}

@media screen and (max-width:900px) { 
#elmcity_sidebar { margin-left:76%} 
.bl { width:74% }
.ed { width:70% }
#tags2 { display: none }
}


@media screen and (max-width:800px) { 
#elmcity_sidebar { margin-left:70%} 
.bl { width:68% }
.ed { width:64% }
#tags2 { display: none }
}

@media screen and (max-width:700px) { 
#elmcity_sidebar { margin-left:68%} 
.bl { width:68% }
.ed { width:64% }
#tags2 { display: none }
}

@media screen and (max-width:600px) { 
#elmcity_sidebar { margin-left:65%;} 
.bl { width:62% }
.ed { width:58% }
#tags2 { display: none }
}

@media screen and (max-width:500px) { 
#elmcity_sidebar { margin-left:60%;} 
.bl { width:58% }
.ed { width:54% }
#tags2 { display: none }
}

@media screen and (max-width:400px) { 
#elmcity_sidebar { margin-left:55%;} 
.bl { width:52% }
.ed { width:48% }
#tags2 { display: none }
}

@media screen and (max-width:320px) { 
#elmcity_sidebar { display:none }
.bl { width:100% }
.ed { width:100% }
#tags2 { display:block }
}

