BEGIN:VCALENDAR
VERSION:2.0
PRODID:-//ddaysoftware.com//NONSGML DDay.iCal 1.0//EN
BEGIN:VTIMEZONE
TZID:Eastern Standard Time
BEGIN:STANDARD
DTSTART:20101102T020000
RRULE:FREQ=YEARLY;BYDAY=1SU;BYHOUR=2;BYMINUTE=0;BYMONTH=11
TZNAME:Eastern Standard Time
TZOFFSETFROM:-0400
TZOFFSETTO:-0500
END:STANDARD
BEGIN:DAYLIGHT
DTSTART:20100301T020000
RRULE:FREQ=YEARLY;BYDAY=2SU;BYHOUR=2;BYMINUTE=0;BYMONTH=3
TZNAME:Eastern Daylight Time
TZOFFSETFROM:-0500
TZOFFSETTO:-0400
END:DAYLIGHT
END:VTIMEZONE
BEGIN:VEVENT
CATEGORIES:
DESCRIPTION:Cedar Hill Cemetery
DTSTAMP:YYYY1014T222138
DTSTART:YYYY1015T100000
GEO:41.763611;-72.685556
LOCATION:Cedar Hill Cemetery
SEQUENCE:0
SUMMARY:Cedar Hill Commemorates & Celebrates its Civil War Men & Women
UID:Q2VkYXIgSGlsbCBDb21tZW1vcmF0ZXMgJiBDZWxlYnJhdGVzIGl0cyBDaXZpbCBXYXIgTWV
 uICYgV29tZW4=-634542336000000000@elmcity.cloudapp.net
URL:http://www.facebook.com/event.php?eid=166666696724040
END:VEVENT
END:VCALENDAR
