BEGIN:VCALENDAR
PRODID:-//Google Inc//Google Calendar 70.9054//EN
VERSION:2.0
CALSCALE:GREGORIAN
METHOD:PUBLISH
X-WR-CALNAME:Keene Chorale
X-WR-TIMEZONE:UTC
X-WR-CALDESC:Lists events for The Keene Chorale
BEGIN:VEVENT
DTSTART:YYYY1211T210000Z
DTEND:YYYY1211T230000Z
DTSTAMP:20111006T201122Z
UID:3guce191g7o1k99s3jbrde9ov8@google.com
CREATED:20110429T234719Z
DESCRIPTION:The Keene Chorale will present its Winter concert\, featuring w
 orks by Mozart\, Pachabel\, Britten\, Rutter\, and Bach.
LAST-MODIFIED:20110429T235142Z
LOCATION:St. Bernard Church
SEQUENCE:0
STATUS:CONFIRMED
SUMMARY:Keene Chorale Winter concert
TRANSP:OPAQUE
END:VEVENT
END:VCALENDAR
