<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML+RDFa 1.0//EN" "http://www.w3.org/MarkUp/DTD/xhtml-rdfa-1.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>__TITLE__</title>
<meta name="description" content="__META__">
<link type="text/css" rel="stylesheet" href="__CSSURL__"/>

<!-- JQUERY_UI_CSS -->
<link type="text/css" href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.20/themes/smoothness/jquery-ui.css" rel="stylesheet" />
<!-- /JQUERY_UI_CSS -->

<script type='text/javascript' src='http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.7.2.min.js'></script>

<!-- JQUERY_UI -->
<script type='text/javascript' src='http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.20/jquery-ui.min.js'></script>
<!-- /JQUERY_UI -->

<script type="text/javascript" src="http://elmcity.blob.core.windows.net/admin/elmcity-1.7.js"></script>

<!-- __CUSTOM_STYLE __ -->

</head>

<body onload="on_load()">

<div id="body">

<div id="elmcity_id" style="display:none">
__ID__
</div>

<!-- DATEPICKER -->
<div id="datepicker" ></div>
<!-- /DATEPICKER -->

<!-- HUBTITLE -->
<h1 class="hubtitle">__TITLE__</h1>
<!-- /HUBTITLE -->

<!-- SIDEBAR -->

<div id="sidebar" style="text-align:center">

<p style="font-style:italic;margin-top:30px">sources</p>

<p style="font-weight:bold"><a title="These are iCalendar feeds from organizations, clubs, and groups. Got one to contribute? Contact the curator!" target="_new" href="http://__APPDOMAIN__/services/__ID__/stats">__FEEDCOUNT__ iCalendar feeds</a></p>


<p id="logos" style="width:150px;text-align:center">

<span id="eventful_logo" style="display:__EVENTFUL_LOGO_DISPLAY__">
<a title="eventful" href="http://eventful.com"><img style="margin:4px" alt="Local Events, Concerts, Tickets" src="http://elmcity.blob.core.windows.net/admin/eventful_logo.gif"></a>
</span>
<span id="eventbrite_logo" style="display:__EVENTBRITE_LOGO_DISPLAY__">
<a title="eventbrite" href="http://eventbrite.com"><img style="margin:4px" src="http://elmcity.blob.core.windows.net/admin/eventbrite_logo.jpg"></a>
</span>
<span id="facebook_logo" style="display:__FACEBOOK_LOGO_DISPLAY__">
<a title="facebook" href="http://facebook.com"><img style="margin:4px" src="http://elmcity.blob.core.windows.net/admin/facebook.png"></a>
</span>
<span id="meetup_logo" style="display:__MEETUP_LOGO_DISPLAY__">
<a title="meetup" href="http://meetup.com"><img style="margin:4px" src="http://elmcity.blob.core.windows.net/admin/meetup.png"></a>
</span>
</p>

<hr>

<p style="margin-top:25px">
<a title="about" target="elmcity_about" href="/__ID__/about">about this hub</a>
</p>

<p>
<a title="how to post" target="_new" href="http://blog.jonudell.net/elmcity-project-faq/#contribute">how to post events</a>
</p>

<p>
<a title="contact the curator" href="mailto:__CONTACT__?subject=calendar question or comment">contact the curator</a>
</p>

<p>
<a id="subscribe" title="subscribe your calendar to this view" href="http://__APPDOMAIN__/__ID__/ics?view=__VIEW__"></a>
</p>

<p>
<a id="switcher" title="switch view" href=""></a>
</p>


<hr>

<p>
<a target="azure" title="powered by windows azure" id="windows azure" href="http://windowsazure.com"><img style="width:150px;margin-top:10px" src="http://elmcity.blob.core.windows.net/admin/pbwa.png"></a>
</p>

</div>

<!-- /SIDEBAR -->

<!-- TAGS -->
<div id="tags">
<!--__CATEGORIES__-->
<!--__TAGS__-->
</div>
<!-- /TAGS -->


<!-- begin events -->

<div class="events">

__EVENTS__

</div>

<!-- end events -->

</div>

<!--
__GENERATED__
-->

</body>
</html>

