<!DOCTYPE html>
<html>
<head>
<title>__TITLE__</title>
<meta name="description" content="__META__">
<link type="text/css" rel="stylesheet" href="__CSSURL__"/>

<!-- JQUERY_UI_CSS -->
<link type="text/css" href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.20/themes/smoothness/jquery-ui.css" rel="stylesheet" />
<!-- /JQUERY_UI_CSS -->

<script type='text/javascript' src='http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.7.2.min.js'></script>

<script type='text/javascript' src='http://elmcity.blob.core.windows.net/admin/jquery.cookie.js'></script>

<!-- JQUERY_UI -->
<script type='text/javascript' src='http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.20/jquery-ui.min.js'></script>
<!-- /JQUERY_UI -->

<!-- JSURL -->
<script type="text/javascript" src="__JSURL__"></script> 
<!-- /JSURL -->

</head>

<body>

<div id="body">


<div id="elmcity_id" style="display:none">
__ID__
</div>

<div id="mobile_detected" style="display:none">
__MOBILE_NOT_DETECTED__
</div>

<!-- begin events -->

<div class="events">

__EVENTS__

</div>

<!-- end events -->

</div>

<!--
__GENERATED__
-->

</body>
</html>

