BEGIN:VCALENDAR
VERSION:2.0
X-WR-CALNAME:Monadnock Folklore Society
BEGIN:VEVENT
SUMMARY:☼ ☼ ☼ Lissa Schneckenburger | Nelson Town Hall
URL;VALUE=URI:http://www.monadnockfolk.org/?p=3170
UID:859-http://www.monadnockfolk.org/?p=3170
DESCRIPTION:[by: mfs]
TRANSP:OPAQUE
DTSTART;VALUE=DATE-TIME:YYYY1008T000000Z
DTEND;VALUE=DATE-TIME:YYYY1008T023000Z
END:VEVENT
END:VCALENDAR
