BEGIN:VCALENDAR
METHOD:PUBLISH
CALSCALE:GREGORIAN
PRODID:-//EVDB//www.eventful.com//EN
VERSION:2.0
BEGIN:VEVENT
DTSTART:YYYY1014T180000
DTEND:YYYY1014T193000
DTSTAMP:20111002T082838Z
SUMMARY:LRM (Life Recovery Ministry)
DESCRIPTION:  LRM (Life Recovery Ministry) Date: Monday\, February 13\
	, 2012 Time: 6:00PM - 7:30PM Event Type:   Support Ministries  
LOCATION:Hartford, Connecticut 06114 United States
SEQUENCE:1317544118
UID:E0-001-037962593-9@2011101418
URL:http://eventful.com/E0-001-037962593-9@2011101418
END:VEVENT
END:VCALENDAR