






<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">









<html>
<head>

    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <meta name="description" content="Calendar of events in Hampton Roads, Va."/>
    <meta name="keywords" content="Hampton Roads, VA, entertainment, music, food, drama, dance, family activities, festivals, concerts, calendar"/>
    
    <title>Hampton Roads Community Calendar -
        dailypress.com
    </title>

    








    <!-- http://www.dailypress.com -->
	
	 
	<META name="y_key" content="dccb90af3e96f817"> 
	<meta name="msvalidate.01" content="AAC9C18F70AC386BC4DCF4DDF9BF1786">
	<link rel="shortcut icon" href="http://www.dailypress.com/favicon.ico"/>
	<link rel="icon" type="image/ico" href="http://www.dailypress.com/favicon.ico"/>

<style type="text/css">
div#branding.thirdParty { 

  /* TO STOP THE FLASH OF BLUE BY LOADING THE DP HEADER FIRST */
  background-image: url(http://www.trbimg.com/img-51d3588c/turbine/dp-ticket-third-party-header) !important; 
  background-repeat: no-repeat !important;
}
</style>






<!-- COMMON STYLES USED THROUGH OUT SIDES... --> 
	<link href="http://www.dailypress.com/hive/stylesheets/reset.css" media="all" rel="stylesheet" type="text/css" />
	<link href="http://www.dailypress.com/hive/stylesheets/module.css" media="all" rel="stylesheet" type="text/css" />
	<link href="http://www.dailypress.com/hive/stylesheets/footer.css" media="all" rel="stylesheet" type="text/css" />
	<link href="http://www.dailypress.com/hive/stylesheets/header.css" media="all" rel="stylesheet" type="text/css" />
	<link href="http://www.dailypress.com/hive/stylesheets/common.css" media="all" rel="stylesheet" type="text/css" />
	<link href="http://www.dailypress.com/hive/stylesheets/adv_search.css" media="all" rel="stylesheet" type="text/css" />
	<link href="http://www.dailypress.com/stylesheets/market.css" media="all" rel="stylesheet" type="text/css" />
	
	
	
	

<!-- SUPPLEMENTAL FOR OBVIOUS REASONS --> 
<!--[if lte IE 6]>
<link href="http://www.dailypress.com/hive/stylesheets/ie6-styles.css" media="all" rel="stylesheet" type="text/css" />
<script defer type="text/javascript" src="http://www.dailypress.com/hive/javascripts/pngfix.js"></script>
<![endif]-->
<!--[if lte IE 7]>
<link href="http://www.dailypress.com/hive/stylesheets/ie7-styles.css" media="all" rel="stylesheet" type="text/css" />
<![endif]-->


		
		

    <script src="http://www.dailypress.com/hive/javascripts/prototype.js" type="text/javascript"></script>
    <script src="http://www.dailypress.com/hive/javascripts/scriptaculous.js" type="text/javascript"></script>
    <script src="http://www.dailypress.com/hive/javascripts/tabinterface.js" type="text/javascript"></script>
    <script src="http://www.dailypress.com/hive/javascripts/AC_RunActiveContent.js" type="text/javascript"></script>
    <script src="http://www.dailypress.com/hive/javascripts/cookies.js" type="text/javascript"></script>
    <script src="http://www.dailypress.com/hive/javascripts/menu.js" type="text/javascript"></script>

		

    
		
	
    <style type='text/css'>

div#footer div#siteOverview ul li ul li a.mainOverviewLink, div#footer div#siteOverview ul li a.mainNav {
  font-size: 14px !important;
  font-weight: bold !important;
}
div#footer {
  background-color: #f8f8f8 !important;
}
ul#root li a.mainNav {
  color: #ffffff !important;
}
#container, div#container {
  background-repeat: no-repeat !important;
  background-image: none !important;
}
div#content.article h2, div#content.special-package h2 {
  color: #000 !important;
}
div#content.article h1, div#content.special-package h1 {
  color: #000 !important;
}
ul#root li.highlight a, ul#root li.highlight a.mainNav span {
  background-color: #ffffff !important;
  color: #000000 !important;
  background-image: url(http://www.dailypress.com/includes/uploads/2011/12/AAF02B86_ticket-nav.png) !important;
}
div#navigation ul#root li ul.level2 {
  background-image: url(http://www.latimes.com/images/subnav_bg.gif) !important;
  background-color: #000000 !important;
}
ul#root li ul.level2 li a {
  background-image: url(http://www.dailypress.com/includes/uploads/2010/06/64912C9B_tabs-blank.gif) !important;
}
div#navigation div#layerOne {
  background-repeat: repeat-x !important;
  background-color: #000000 !important;
  background-image: url(http://www.dailypress.com/includes/uploads/2011/12/B382330F_nav-bkg.gif) !important;
}
body {
  background-color: #D5D4CF !important;
  font-size:  !important;
  background-repeat: repeat-y !important;
  background-image: url(http://www.dailypress.com/includes/uploads/2010/06/6FCD2FEA_bkg-gray-shadow-page.gif) !important;
}
div#container div#branding div#masthead {
  background-repeat: no-repeat !important;
  background-image: url(http://www.trbimg.com/img-51d3588c/turbine/dp-ticket-third-party-header) !important;
}
div#hotTopic {
  background-color: #FFFFFF !important;
  background-repeat: no-repeat !important;
}
ul.tabModule li.curTab a {
  background-image: url(http://www.dailypress.com/includes/uploads/2010/07/49E6D09F_clear-pixel.gif) !important;
  color: #032152 !important;
  background-color: # !important;
}
ul.tabModule li a {
  color: #032152 !important;
  background-image: url(http://www.dailypress.com/includes/uploads/2010/07/3A844B9E_clear-pixel.gif) !important;
}
ul.tabModule li.curTab {
  background-image: url(http://www.dailypress.com/includes/uploads/2010/07/60838720_clear-pixel.gif) !important;
  background-color: # !important;
}
ul.tabModule li {
  background-image: url(http://www.dailypress.com/includes/uploads/2010/07/88BE23EF_clear-pixel.gif) !important;
}



/* ADDITIONS NOT FROM THEME MANAGER */

div#branding.thirdParty {
  background-image: url(http://www.trbimg.com/img-51d3588c/turbine/dp-ticket-third-party-header) !important; 
  background-repeat: no-repeat !important;
}

div#toolbarthirdparty {
   background-color:transparent !important; /* #1a75bc; */
   padding: 5px 0px;
   border-bottom:solid 0px #1a75bc;
}

ul.level2 {display:none !important;}

div#footer {padding: 10px 0}

#footerContainer {width:980px !important;}

h2.ticketHeader{
    color: #FF6600 !important;
    font-weight: bold;
    border-bottom: 2px dotted #CCC;
    font-size: 20px;
    line-height: 26px;
    padding-bottom: 2px;
    margin-bottom: 2px;
}

<!-- Elm City -->
p.sidebar { font-weight:normal }
<!-- /Elm City -->



</style>


<link type="text/css" rel="stylesheet" href="__CSSURL__"/>

<!-- JQUERY_UI_CSS -->
<link type="text/css" href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.20/themes/smoothness/jquery-ui.css" rel="stylesheet" />
<!-- /JQUERY_UI_CSS -->

<script type='text/javascript' src='http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.7.2.min.js'></script>

<!-- JQUERY_UI -->
<script type='text/javascript' src='http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.20/jquery-ui.min.js'></script>
<!-- /JQUERY_UI -->

<!-- JSURL -->
<script type="text/javascript" src="__JSURL__"></script> 
<!-- /JSURL -->

<script>
var top_element = 'elmcity_sidebar_top';
var top_offset = 0;
top_method = 'auto';
</script>


</head>


















 







<body>





<div id="container">
    <!-- BEGIN HEADER -->
    <div id="branding" class="thirdParty">

        <div id="classified-bar" class="clearfix">
           <div id="classBarNav">

              <ul class="classBarNavLink">
  <li>
          <a href="http://www.dailypress.com/features/shopping/"  target="_blank">Shopping</a>
        </li>
      
    
      
        
        <li>
          <a href="http://www.dailypress.com/classified/jobs/"  >Jobs</a>
        </li>
      
    
      
        
        <li>
          <a href="http://www.dailypress.com/classified/automotive/"  >Cars</a>
        </li>
      
    
      
        
        <li>
          <a href="http://www.dailypress.com/classified/realestate/"  >Homes</a>
        </li>
      
    
      
        
        <li>
          <a href="http://www.dailypress.com/apts/"  >Rentals</a>
        </li>
      
    
      
        
        <li class="lastMenuItem">
          <a href="http://www.dailypress.com/advertiser/?track=classnav-placead"  >Place an ad</a>
        </li>
</ul>
           </div>   
        </div>
        <div id="headerthirdparty" class="clearfix">
            <div id="logothirdparty"><a href="/entertainment" target="_self"><img src="http://www.dailypress.com/images/thirdpartylogo.gif" alt="dailypress.com"/></a></div>
            
            <div id="headerAd">
			
			
 <!-- BEGIN LEADER 728 X 90 AD SECTION -->         

<script language="JavaScript" type="text/javascript"> ord=Math.random()*10000000000000000;
document.write('<iframe id="dclk' + ord+'" src="" width="728" height="90" marginwidth="0" marginheight="0" hspace="0" vspace="0" frameborder="0" scrolling=no borderCOLOR="#000000">'); if (navigator.userAgent.indexOf("Gecko")==-1) { document.write('<script language="JavaScript" src="http://ad.doubleclick.net/adj/trb.dailypress/class;!category=net;pos=t;tile=1;dcopt=ist;ptype=sf;sz=728x90;abr=!ie;ord=' + ord + '?" type="text/javascript"><\/script>');
}
document.write('</iframe>');
if (document.getElementById('dclk'+ord+'' )) { document.getElementById('dclk'+ord+'').src = 'http://ad.doubleclick.net/adi/trb.dailypress/class;!category=net;pos=t;tile=1;dcopt=ist;ptype=sf;sz=728x90;ord=' + ord + '?'; } </script><noscript> <a href="http://ad.doubleclick.net/jump/trb.dailypress/class;dcopt=ist;sz=728x90;ord='+ ord + '?';target="_blank"><img src="http://ad.doubleclick.net/ad/trb.dailypress/class;dcopt=ist;sz=728x90;ord='ord + ?'; width="728" height="90" border="0" alt=""></a> </noscript>
<!-- End ad tag -->
			
			
            </div>
            
            
        </div>
		

        <div id="navigation" class="clearfix">
            <div id="layerOne">
                








<ul id="root">
  <li class="navLink   first">
        
        
          
          <a href="http://www.dailypress.com/entertainment" class="mainNav"  ><span>HOME</span></a>
          
          
            <ul class="level2 emptySubNav"><li><a href="javascript:void(0);">&nbsp;</a></li></ul>
          
        </li>
        
      
    
      
        
        
            
          <li class="navLink  ">
        
        
          
          <a href="http://www.dailypress.com/entertainment/gaming/" class="mainNav"  ><span>CONTESTS</span></a>
          
          
            <ul class="level2 emptySubNav"><li><a href="javascript:void(0);">&nbsp;</a></li></ul>
          
        </li>
        
      
    
      
        
        
            
          <li class="navLink  ">
        
        
          
          <a href="http://www.dailypress.com/entertainment/food/" class="mainNav"  ><span>FOOD</span></a>
          
          
            <ul class="level2 emptySubNav"><li><a href="javascript:void(0);">&nbsp;</a></li></ul>
          
        </li>
        
      
    
      
        
        
            
          <li class="navLink  ">
        
        
          
          <a href="http://www.dailypress.com/entertainment/society" class="mainNav"  ><span>SOCIETY</span></a>
          
          
            <ul class="level2 emptySubNav"><li><a href="javascript:void(0);">&nbsp;</a></li></ul>
          
        </li>
        
      
    
      
        
        
            
          <li class="navLink  ">
        
        
          
          <a href="http://www.dailypress.com/entertainment/arts" class="mainNav"  ><span>ARTS</span></a>
          
          
            <ul class="level2 emptySubNav"><li><a href="javascript:void(0);">&nbsp;</a></li></ul>
          
        </li>
        
      
    
      
        
        
            
          <li class="navLink  ">
        
        
          
          <a href="http://www.dailypress.com/entertainment/music/" class="mainNav"  ><span>MUSIC</span></a>
          
          
            <ul class="level2 emptySubNav"><li><a href="javascript:void(0);">&nbsp;</a></li></ul>
          
        </li>
        
      
    
      
        
        
            
          <li class="navLink  ">
        
        
          
          <a href="http://www.dailypress.com/entertainment/funstuff/comics/" class="mainNav"  ><span>COMICS</span></a>
          
          
            <ul class="level2 emptySubNav"><li><a href="javascript:void(0);">&nbsp;</a></li></ul>
          
        </li>
        
      
    
      
        
        
            
          <li class="navLink  ">
        
        
          
          <a href="http://www.dailypress.com/entertainment/movies-tv/" class="mainNav"  ><span>MOVIES &amp; TV</span></a>
          
          
            <ul class="level2 emptySubNav"><li><a href="javascript:void(0);">&nbsp;</a></li></ul>
          
        </li>
        
      
    
      
        
        
            
          <li class="navLink  ">
        
        
          
          <a href="http://www.dailypress.com/entertainment/books/" class="mainNav"  ><span>BOOKS</span></a>
          <ul class="level2">
              
                
                  
                  
                
              
            </ul>
          
        </li>
        
      
    
      
        
        
            
          <li class="navLink  ">
        
        
          
          <a href="http://www.dailypress.com/entertainment/calendar/" class="mainNav"  ><span>EVENTS</span></a>
          <ul class="level2">
              
                
                  
                  
                
              
            </ul>
          
        </li>
        
      
    
      
        
        
            
          <li class="navLink  ">
        
        
          
          <a href="http://dailypress.com/" class="mainNav"  target="_blank"><span>DAILY PRESS</span></a>
          
          
            <ul class="level2 emptySubNav"><li><a href="javascript:void(0);">&nbsp;</a></li></ul>
          
        </li>

  <li class="navLink hideMainNav">
          
          <a href="http://www.dailypress.com/features/shopping/" class="mainNav"  target="_blank">Shopping</a>
          <ul class="level2">
              
                
                  
                  
                    
                    <li><a href="http://www.dailypress.com/features/shopping/"  target="_top">Savvy Shopper Blog</a></li>
                  
                
              
                
                  
                  
                    
                    <li><a href="http://flyers.savvyshoppertoday.com/"  target="_blank">Flyers & Circulars</a></li>
                  
                
              
            </ul>
        </li>
        
      
    
      
        		 
        <li class="navLink hideMainNav">
          
          <a href="http://www.dailypress.com/classified/jobs/" class="mainNav"  >Jobs</a>
          <ul class="level2">
              
                
                  
                  
                
              
                
                  
                  
                
              
                
                  
                  
                
              
                
                  
                  
                
              
            </ul>
        </li>
        
      
    
      
        		 
        <li class="navLink hideMainNav">
          
          <a href="http://www.dailypress.com/classified/automotive/" class="mainNav"  >Cars</a>
          
        </li>
        
      
    
      
        		 
        <li class="navLink hideMainNav">
          
          <a href="http://www.dailypress.com/classified/realestate/" class="mainNav"  >Homes</a>
          
        </li>
        
      
    
      
        		 
        <li class="navLink hideMainNav">
          
          <a href="http://www.dailypress.com/apts/" class="mainNav"  >Rentals</a>
          
        </li>
        
      
    
      
        		 
        <li class="navLink hideMainNav">
          
          <a href="http://www.dailypress.com/advertiser/?track=classnav-placead" class="mainNav"  >Place an ad</a>
          
        </li>
</ul>
            </div>
        </div>



        
	

      <script type="text/javascript">
		        function liFix() {
		            if($$('#rootTopic li:last-child')[0]){
		                $$('#rootTopic li:last-child')[0].addClassName('lastMenuItem');
		            }
		         }
		        Event.observe("navigation", 'load', liFix());
		        </script>
		    
	</div>
    <!-- END HEADER -->

<div id="section" class="thirdPartyContent">

<!-- YOUR CONTENT GOES HERE -->


<div style="width: 960px; margin:0 auto;">

<!-- SIDEBAR -->

<div id="sidebar" style="visibility:hidden;position:absolute;width:150px;text-align:center;padding-left:6px;top:auto">


<!-- DATEPICKER -->

<div style="visibility:hidden;margin-left:auto;margin-right:auto;position:relative" id="datepicker"></div>

<!-- /DATEPICKER -->

<!-- TAGS -->
<p style="margin-top:15px;margin-right:20%;margin-left:20%" id="tags">
<!--__CATEGORIES__-->
<!--__TAGS__-->
</p>
<!-- /TAGS -->


<p class="sidebar" style="font-style:italic;margin-top:20px;margin-bottom:12px">sources</p>

<p class="sidebar"><a  style="font-weight:bold" title="These are iCalendar feeds from organizations, clubs, and groups. Got one to contribute? Contact the curator!" target="_new" href="http://__APPDOMAIN__/services/__ID__/stats">__FEEDCOUNT__ iCalendar feeds</a></p>


<p class="sidebar" id="logos" style="text-align:center">

<span id="eventful_logo" style="display:__EVENTFUL_LOGO_DISPLAY__">
<a title="eventful" href="http://eventful.com"><img style="margin:4px;display:inline" alt="Local Events, Concerts, Tickets" src="http://elmcity.blob.core.windows.net/admin/eventful_logo.gif"></a>
</span>
<span id="eventbrite_logo" style="display:__EVENTBRITE_LOGO_DISPLAY__">
<a title="eventbrite" href="http://eventbrite.com"><img style="margin:4px;display:inline" src="http://elmcity.blob.core.windows.net/admin/eventbrite_logo.jpg"></a>
</span>
<span id="facebook_logo" style="display:__FACEBOOK_LOGO_DISPLAY__">
<a title="facebook" href="http://facebook.com"><img style="margin:4px;display:inline" src="http://elmcity.blob.core.windows.net/admin/facebook.png"></a>
</span>
<span id="meetup_logo" style="display:__MEETUP_LOGO_DISPLAY__">
<a title="meetup" href="http://meetup.com"><img style="margin:4px;display:inline" src="http://elmcity.blob.core.windows.net/admin/meetup.png"></a>
</span>
</p>

<hr width="20%">

<p class="sidebar" style="margin-top:25px">
<a title="about" target="elmcity_about" href="/about">about this hub</a>
</p>

<p class="sidebar">
<a title="how to post" target="_new" href="http://blog.jonudell.net/elmcity-project-faq/#contribute">how to post events</a>
</p>

<p class="sidebar">
<a title="contact the curator" href="mailto:__CONTACT__?subject=calendar question or comment">contact the curator</a>
</p>

<p class="sidebar">
<a id="subscribe" title="subscribe your calendar to this view" href="/ics?view=__VIEW__"></a>
</p>


<p class="sidebar">
<a target="azure" title="powered by windows azure" id="windows azure" href="http://windowsazure.com"><img style="width:150px;margin-top:10px" src="http://elmcity.blob.core.windows.net/admin/pbwa.png"></a>
</p>

</div>

<!-- /SIDEBAR -->


<h2 id="elmcity_sidebar_top" style="margin-bottom:10px;width:60%" class="ticketHeader">Hampton Roads Community Calendar</h2>
<p style="font-size: 11pt; margin-bottom:10px;width:60%">Click on the <strong>ellipsis</strong> (...) for event description. Click on <strong>plus sign</strong> (+) to add an event to your calendar.</p>
<p style="font-size: 11pt; margin-bottom:10px;width:60%">Want to submit an event to the calendar? <a href="http://www.dailypress.com/entertainment/dp-add-events-to-the-hampton-roads-community-calendar,0,7693252.story"><span style="color: #000">Click here.<span></a></p>

<!-- HUBTITLE -->
<h1 style="margin-bottom:20px" class="hubtitle">__TITLE__</h1>
<!-- /HUBTITLE -->
        

<div id="elmcity_id" style="display:none">
__ID__
</div>

<div id="mobile_detected" style="display:none">
__MOBILE_NOT_DETECTED__
</div>



<!-- begin events -->

<div class="events">

__EVENTS__

</div>

<!-- end events -->

</div>

<!--
__GENERATED__
-->



 

 





    </div>
    </div>

		

    <!-- BEGIN FOOTER -->
    <div id="footer">

        <div id="footerContainer">
<div id="footerlogo">
  <img src="http://www.dailypress.com/media/graphic/2010-08/47553748.png" alt="&lt;b&gt;&lt;/b&gt;" width="300" height="43" title="&lt;b&gt;&lt;/b&gt;" />
</div>
<div id="footertext">
<ul>
   
   <li class="nav">
        
           
              
                 <ul class="links">
                 <li id="footer-item-1"><a href="http://www.dailypress.com/" target="_blank" >Daily Press</a></li>
			       
                          
                          
                       
                    
                       
                          
                          
                           
                            
			       
			          <li id="footer-item-2"><a href="http://www.vagazette.com" target="_blank" >Virginia Gazette</a></li>
			       
                          
                          
                       
                    
                       
                          
                          
                           
                            
			       
			          <li id="footer-item-3"><a href="http://www.tidewaterreview.com/" target="_blank" >Tidewater Review</a></li>
			       
                          
                          
                       
                    
                       
                          
                          
                           
                            
			       
			          <li id="footer-item-4"><a href="http://www.baltimoresun.com/" target="_blank" >Baltimore Sun</a></li>
			       
                          
                          
                       
                    
                       
                          
                          
                           
                            
			       
			          <li id="footer-item-5"><a href="http://www.chicagotribune.com/" target="_blank" >Chicago Tribune</a></li>
			       
                          
                          
                       
                    
                       
                          
                          
                           
                            
			       
			          <li id="footer-item-6"><a href="http://www.courant.com/" target="_blank" >Hartford Courant</a></li>
			       
                          
                          
                       
                    
                       
                          
                          
                           
                            
			       
			          <li id="footer-item-7"><a href="http://www.latimes.com/" target="_blank" >Los Angeles Times</a></li>
			       
                          
                          
                       
                    
                       
                          
                          
                           
                            
			       
			          <li id="footer-item-8"><a href="http://www.orlandosentinel.com/" target="_blank" >Orlando Sentinel</a></li>
			       
                          
                          
                       
                    
                       
                          
                          
                           
                            
			       
			          <li id="footer-item-9"><a href="http://www.sun-sentinel.com/" target="_blank" >Sun Sentinel</a></li>
			       
                          
                          
                       
                    
                       
                          
                          
                           
                            
			       
			          <li id="footer-item-10"><a href="http://www.mcall.com/" target="_blank" >The Morning Call</a></li>
                 </ul>
              
           
        
       </li>
 
 <li>
            
                
                    
                    	<p><a style="font-weight: normal; font-size: 14px; color: #000000;" href="http://www.dailypress.com/news/dp-news-tos,0,2833692.htmlstory" target="_parent">Terms of Service</a> | <a style="font-weight: normal; font-size: 14px;  color: #000000;" href="http://privacy.tribune.com/" target="_parent">Privacy Policy</a> | <a style="font-weight: normal; font-size: 14px; color: #000000;" href="http://www.dailypress.com/dp-about-our-ads,0,5207919.htmlstory" target="_parent">About Our Ads</a>
</p>    
                    
                
            
                
                    
                    	<p><div class="footer-address"><!-- <a href="http://www.dailypress.com/news/dp-news-tos,0,2833692.htmlstory">Terms of Service</a> | <a href="http://privacy.tribune.com/">Privacy Policy</a> | <a href="http://www.dailypress.com/dp-about-our-ads,0,5207919.htmlstory">About Our Ads</a> | -->Daily Press, 7505 Warwick Blvd., Newport News, VA 23607</div>

</p>    
                    
                
            
        </li>
</ul> 
<script type="text/javascript">
 function footerNavFix() {
    if($$('#footertext li:last-child')[0]){
	    $$('#footertext li:last-child')[0].addClassName('lastMenuItem');
	    $$('#footertext li:last-child')[1].addClassName('lastMenuItem');
    }
	  if($$('#footertext li:first-child')[1]){
	    $$('#footertext li:first-child')[1].addClassName('firstMenuItem');
	    if($$('#footertext li:first-child')[2]) 	
	      $$('#footertext li:first-child')[2].addClassName('firstMenuItem');
	  }
 }
Event.observe("footertext", 'load', footerNavFix());
</script>   
</div>
<!-- listings:footer IMPORTANT! DO NOT MODIFY OR REMOVE! -->
</div>
        <div class="clear"></div>
    </div>
    <!-- END FOOTER -->
</div>


<script type="text/javascript">
    function menuFix() {
    	eraseCookie("mainPage");
    	createCookie("mainPage","http://www.dailypress.com/","1");

    	$$('ul#root').each(function(link){
    		link.setStyle({visibility:'visible'});
    	});
    	var hlink;
    	var navExists = false
    	var tempPath = readCookie("mainPage");
    	if (tempPath.length > 1) {
    		if (tempPath.substring(tempPath.length-1, tempPath.length) == "/") {
    			tempPath = tempPath.substring(0, tempPath.length-1);
    		}
    	}
    	while (tempPath.length > 0 && navExists == false) {
    		$$('#root li a.mainNav').each(function(link) {
            	hlink = link.readAttribute('href');
    			if (hlink.length > 1) {
    				if (hlink.substring(hlink.length-1, hlink.length) == "/") {
    					hlink = hlink.substring(0, hlink.length-1);
    				}
    			}
            	if (hlink == tempPath) {
                    link.up(0).addClassName('highlight');
                    if (link.next('ul')) {
                        link.next('ul').addClassName('subStay');
                        navExists = true;
                        var arr = link.next('ul').descendants();
                        arr.each(function(subLink) {
                            subLink.descendants().each(function(subLinkA) {
                                if (subLinkA.readAttribute('href') == "http://www.dailypress.com/") {
                                    subLinkA.up(0).addClassName('highlight');
                                }
                            });
                        });
                    };
                }
    		});
            tempPath = tempPath.substr(0,tempPath.lastIndexOf("/"));

    	}
    	if (navExists == false) {
    		$$('#root li a.mainNav').each(function(link) {
    	        hlink = link.readAttribute('href');
    			if (hlink.length > 1) {
    				if (hlink.substring(hlink.length-1, hlink.length) == "/") {
    					hlink = hlink.substring(0, hlink.length-1);
    				}
    			}
    	        if (hlink == "/") {
                        link.up(0).addClassName('highlight');
                        link.next('ul').addClassName('subStay');
                        var arr = link.next('ul').descendants();
                        arr.each(function(subLink){
                            subLink.descendants().each(function(subLinkA){
                                if(subLinkA.readAttribute('href') == "http://www.dailypress.com/"){
                                    subLinkA.up(0).addClassName('highlight');
                                }
                            });
                        });
    			}
    	    });
    		eraseCookie("mainPage");
    		createCookie("mainPage","http://www.dailypress.com/","1");
    	}
    }

Event.observe("navigation", 'load', menuFix());
Event.observe("navigation", 'load', tribHover());


</script>






    








    





    













 






























<script language="JavaScript">

    var s_account = "tribglobal";
</script>


    
		

 
     

    










 

<!-- START OMNITURE // hive:metrics-tribune -->
<!-- SiteCatalyst code version: H.1.
Copyright 1997-2005 Omniture, Inc. More info available at
http://www.omniture.com -->



	  <script type="text/javascript">adblock=true;</script>
	  <script type="text/javascript" src="http://dailypress.com/hive/javascripts/metrics/adframe.js"></script>
	
<script type="text/javascript" src="http://dailypress.com/hive/javascripts/metrics/s_code_trb.js"></script>

<script language="JavaScript">

    s.pageName="Hampton Roads Community Calendar - Daily Press - 3rd Party."
    
            s.server="dailypress.com" 
    s.channel="Daily Press:entertainment"
    s.prop38="3rd Party";
    s.eVar21="3rd Party";
    s.hier1="Daily Press:entertainment:Hampton Roads Community Calendar"
    s.hier2="entertainment:Hampton Roads Community Calendar"





/************* DO NOT ALTER ANYTHING BELOW THIS LINE ! **************/
var s_code=s.t();if(s_code)document.write(s_code) 
-->  
</script>
<script language="JavaScript"><!--
if(navigator.appVersion.indexOf('MSIE')>=0)document.write(unescape('%3C')+'\!-'+'-')
//--></script><!--/DO NOT REMOVE/-->
<!-- End SiteCatalyst code version: H.1. -->











<!-- START REVENUE SCIENCE PIXELLING CODE -->
<script src="http://js.revsci.net/gateway/gw.js?csid=B08725"></script>
<script>
DM_addEncToLoc("Site", (s.server));
DM_addEncToLoc("channel", (s.channel));
DM_addEncToLoc("keyword", (s.prop3));
DM_cat(s.hier1);
DM_tag();
</script>
<!-- END REVENUE SCIENCE PIXELLING CODE -->




<script type="text/javascript">
    (function() { 
	   var old = s.ot; 
	   s.ot = function(el) { 
	       return el.tagUrn ? '' : old(el); 
	   }; 
	})(); 
</script>




<!-- Time: Mon Jul 01 17:40:00 PDT 2013-->



</body>


</html>

<!--x-Instance-Name: i5latisrapp02-->