BEGIN:VCALENDAR
PRODID:-//Google Inc//Google Calendar 70.9054//EN
VERSION:2.0
CALSCALE:GREGORIAN
METHOD:PUBLISH
X-WR-CALNAME:HSC
X-WR-TIMEZONE:Etc/GMT
X-WR-CALDESC:All events\, public and private at the HSC. 
BEGIN:VTIMEZONE
TZID:America/Los_Angeles
X-LIC-LOCATION:America/Los_Angeles
BEGIN:DAYLIGHT
TZOFFSETFROM:-0800
TZOFFSETTO:-0700
TZNAME:PDT
DTSTART:19700308T020000
RRULE:FREQ=YEARLY;BYMONTH=3;BYDAY=2SU
END:DAYLIGHT
BEGIN:STANDARD
TZOFFSETFROM:-0700
TZOFFSETTO:-0800
TZNAME:PST
DTSTART:19701101T020000
RRULE:FREQ=YEARLY;BYMONTH=11;BYDAY=1SU
END:STANDARD
END:VTIMEZONE
BEGIN:VEVENT
DTSTART;TZID=America/Los_Angeles:YYYY1011T150000
DTEND;TZID=America/Los_Angeles:YYYY1011T170000
RRULE:FREQ=WEEKLY;BYDAY=TU;WKST=SU;UNTIL=20190828T065959Z
DTSTAMP:20111007T093521Z
UID:4ffg8nr23i6b5578biqmdv5s94@google.com
CREATED:00001231T000000Z
DESCRIPTION:\n\nYou are invited to\n\nAfternoon Tea\n\nat \n\nThe Hillside 
 Club\n\nTuesdays   3:00 – 5:00 pm\n\nRelax and enjoy a cup of tea\, homemad
 e treats\, and conversation.\n\n\n$3–5 Suggested Donation\n\n\n\n
LAST-MODIFIED:20110921T062236Z
LOCATION:
SEQUENCE:6
STATUS:CONFIRMED
SUMMARY:Afternoon Tea 3–5 pm
TRANSP:TRANSPARENT
END:VEVENT
END:VCALENDAR
