<html>
<head>
<title> the elmcity project </title>
<style>

body {
font-family:verdana;
text-align:center;
}

h1 {
text-align:center;
font-size:14pt;
}

h2 {
font-size:13pt;
text-align:center;
}

h2.curators {
}

.tagline {
font-style:italic;
font-weight:normal;
font-size:12pt;
}

td {
font-size:smaller;
}

td.place {
text-align:left;
vertical-align:middle;
}

table.featured {
margin-left:auto;
margin-right:auto;
border-spacing:9px;
}

.bodytext { 
text-align:center;
font-size:smaller;
}

a {
text-decoration:none;
}


a:link, a:visited {
color: #000000;
border-bottom: 1px dotted;
border-bottom-color: lightslategray;
}

a:hover {
background-color: #F4F2E4;
color: #555555;
}

</style>

</head>

<body>

<h1>the Elm City project</h1>

<p class="tagline">rethinking the community calendar</p>

<h2>featured hubs</h2>

<table class="featured" width="65%">

<tbody>

__FEATURED__

</tbody>

</table>

<h2>how and why</h2>

<p class="bodytext">
<a href="http://blog.jonudell.net/2009/04/10/community-calendar-curation-the-startup-guide/">quickstart guide</a>, <a href="http://blog.jonudell.net/elmcity-project-faq/">faq</a>, <a href="http://blog.jonudell.net/why-and-how/">theory and practice</a>, <a href="http://delicious.com/judell/elmcity+azure">blog</a>, <a href="http://blog.jonudell.net/elmcityazure-project-status/">project status</a>
</p>


<h2 class="curators">for curators</h2>

<div class="bodytext">

<p>
__AUTHENTICATE__
</p>

<p>
<a href="http://friendfeed.com/rooms/elmcity">visit the support forum</a>
</p>

<p>
<a href="http://elmcity.cloudapp.net/url_helpers">use a helper to create a special-case iCalendar url</a>
<p>

</div>

<!--
__VERSION__
-->

</body>
</html>