<p>
[__AUTH_MODE__: __AUTH_ID__]  [elmcity: __ELMCITYID__]  [<a href="/services/__ELMCITYID__/edit?flavor=metadata">configure hub</a>] [<a href="/services/__ELMCITYID__/edit?flavor=feeds">add/edit/delete feeds</a>]
</p>