<!DOCTYPE html>
<html>
<head>
<title>about the __ID__ hub</title>
<script type='text/javascript' src='http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.7.2.min.js'></script>

<style>
a { color : blue; text-decoration:none }

h1 { font-size:18pt; }

h2 { font-size:16pt; font-weight:bold; margin-top:.15in}

h3 { font-size:14pt; font-weight:normal; }

h4 { font-size:13pt; }

body { font-family: Verdana,Arial; width:80%; margin:auto; }

p { font-size: 12pt }

td { font-size: 10pt }

h1.hubdoc, h2.hubdoc { margin-left: 0px; }

.hubdoc-widget { border-width:thin;border-style:solid;padding:15px; }

._chunk { margin-left: 2% }

.chunk { margin-left: 4% }

.curated_tag { font-size: 12pt }

.side-link { font-size:smaller; margin-left:1em }

</style>
</head>

<body class="hubdoc" onload="onload()">

<h1 style="margin-top:.5in;margin-bottom:.25in" class="hubdoc">about the __ID__ hub</h1>

<div style="float:right;display:__REGION_DISPLAY_STYLE__;padding:10px;width:25%;margin-top:-1in"">
__REGION__
</div>

<!-- everyone -->

<h2 id="_everyone" class="hubdoc"><a title="open" href="javascript:show('everyone')">+</a> For everyone </h2>

<div id="everyone" style="display:none">

<!-- whatis -->

<h3 class="_chunk" id="_whatis"><a title="open" href="javascript:show('whatis')">+</a> What is this thing? </h3> 

<div class="chunk" id="whatis" style="display:none">

<p>
The __ID__ hub is part of a project to rethink how community calendars work. The project's home page is <a href="http://elmcity.cloudapp.net.">http://elmcity.cloudapp.net</a>. As the <a href="http://blog.jonudell.net/elmcity-project-faq/#whatis">FAQ</a> explains, the project is a web service that:
</p>

<ul>
<li><p>Collects online calendar events for geographic or topical communities</p></li>
<li><p>Merges information from many sources: <a href="http://eventful.com">Eventful</a>, <a href="http://upcoming.org">Upcoming</a>,  <a href="http://eventbrite.com">Eventbrite</a>, <a href="http://facebook.com">Facebook</a>,  <a href="http://meetup.com">Meetup</a>, and iCalendar feeds published by <a href="http://delicious.com/judell/icalpub+howto">popular calendar programs</a></p></li>
<li><p>Creates network effects using iCalendar (<a href="http://en.wikipedia.org/wiki/Icalendar">ICS</a>) feeds, in the same way that blogging and microblogging systems create network effects using RSS, Atom, and Twitter feeds</p></li>
<li><p>Does not store events in a centralized database, but rather operates as a hub that merges streams of events and republishes the merged result in a variety of formats</p></li>
<li><p>Is managed by one or more curators in a community, on behalf of everyone in the community</p></li>
<li><p>Runs on, and demonstrates the capabilities of, Microsoft's Azure platform</p></li>
<li><p>Is released under the Apache 2.0 license at <a href="http://github.com/judell/elmcity">github.com/judell/elmcity</a>
</p></li>
</ul>

<p>
Anyone may use, link to, or embed the calendar views and data feeds provided by the __ID__ hub.
</p>

</div> <!-- /whatis -->

<!-- htmlviews -->

<h3 class="_chunk" id="_htmlviews"><a title="open" href="javascript:show('htmlviews')">+</a> HTML views </h3>

<div class="chunk" id="htmlviews" style="display:none">


<h4>The default view</h4>

<p>
The URL for the default view is <a href="http://elmcity.cloudapp.net/__ID__/html">http://elmcity.cloudapp.net/__ID__/html</a>
</p>

<h4>Category views</h4>

<p>
The categories defined for this hub are: 
<blockquote>
<p><span class="curated_tag" id="curated_tags"/></p>
</blockquote>
</p>

<p>
To view the hub by category you can make URLs using any of these tags, like so:
</p>

<blockquote>
<p><a id="first_tag_html_href">http://elmcity.cloudapp.net/__ID__/html?view=<span class="first_tag_name">_</span></a></p>
</blockquote>

</div> <!-- /htmlviews -->

<!-- subscribing -->

<h3 class="_chunk" id="_subscribing"><a title="open" href="javascript:show('subscribing')">+</a> Subscribing to calendars </h3>

<div class="chunk" id="subscribing" style="display:none">

<p>
For every HTML view there is a set of corresponding data feeds. For most people, the iCalendar feed is the only you're likely to want. You can use it to subscribe to a calendar view on your desktop (e.g., in Outlook), in the cloud (e.g., in Google Calendar), or on your smartphone.
</p>

<p>
Although you could subscribe to the ICS feed for an entire hub, that would probably be overkill. More likely you'll want to subscribe to a categorized view like music or technology or lectures.
</p>

<p>
Here's an example of an ICS feed for a single category:
</p>

<blockquote>
<p>
<a id="first_tag_ics_href">http://elmcity.cloudapp.net/__ID__/ics?view=<span class="first_tag_name">_</span></a>
</p>
</blockquote>


</div> <!-- /subscribing -->

<!-- datafeeds -->

<h3 class="_chunk" id="_datafeeds"><a title="open" href="javascript:show('datafeeds')">+</a> Data feeds </h3>

<div class="chunk" id="datafeeds" style="display:none">

<h4>RSS feeds</h4>

<img style="border-width:thin;border-style:solid;margin:6px;float:right" src="http://jonudell.net/images/monadnock-music-as-rss.png">


<p>
The image at right shows one way to display a calendar view on a blog. In this case the blog, at WordPress.com, is using WordPress.com's RSS widget. The RSS feed URL is: 
</p>

<blockquote>
<p>
<a href="http://elmcity.cloudapp.net/MonadnockNH/rss?view=music&count=12">http://elmcity.cloudapp.net/MonadnockNH/rss?view=music&count=12</a>
</p>
</blockquote>

<p>
This example also shows how you can use count= to restrict the number of items shown. Like view=, count= works the same for all HTML and data views.
</p>

<h4>Other data feeds</h4>


<p>
While the iCalendar and RSS feeds may be of interest to anyone, two other kinds of data feeds will only be useful to developers who want to programmatically integrate calendar feeds. Those formats are XML and JSON. Some examples:
</p>

<blockquote>
<p>
The XML feed for the whole __ID__ hub: <a href="http://elmcity.cloudapp.net/__ID__/xml">http://elmcity.cloudapp.net/__ID__/xml</a> 
</p>

<p>
The JSON feed for the <span class="first_tag_name">_</span> view: <a id="first_tag_json_href">http://elmcity.cloudapp.net/__ID__/json?view=<span class="first_tag_name">_</span></a>
</p>
</blockquote>

</div> <!-- /datafeeds -->

<!-- contributing -->

<h3 class="_chunk" id="_contributing"><a title="open" href="javascript:show('contributing')">+</a> Contributing events to the __ID__ hub </h3>

<div class="chunk" id="contributing" style="display:none">

<p>
Do you sponsor events that you'd like to show up in the __ID__ hub? Here are some ways to include them.
</p>

<ol>

<li>
<p>
Publish your own iCalendar feed, and convey its URL to the hub's curator. You can do this most easily using <a href="http://jonudell.net/elmcity/publishing-feeds-from-google-and-hotmail-calendars.html">Google Calendar or Hotmail Calendar</a>. You can also use <a href="http://jonudell.net/examples/calpub-outlook.html">Microsoft Outlook</a> or <a href="http://jonudell.net/examples/calpub-apple.html">Apple iCal</a>.
</p>

<li>
<p><a href="http://eventful.com">Eventful</a>: Post events to a venue, and ask the curator to include events from that venue. 
</p>
</li>

<li>
<p><a href="http://upcoming.yahoo.com">Upcoming</a>: Post events to a venue, and ask the curator to include events from that venue. 
</li>

<li>
<p><a href="http://eventbrite.com">EventBrite</a>: Post to your EventBrite account and ask the curator  to include events posted to that account.
</li>

<li>
<p><a href="http://facebook.com">Facebook</a>: Post events to the calendar on a Facebook fan page (or group page) and ask the curator to include that calendar.</p>
</li>

<li>
<p><a href="http://meetup.com">Meetup</a>: Make your Meetup group's calendar public, and ask the curator to include it.</p>
</li>

</ol>

<p>
For a pictorial view of how contributors interact with the __ID__ hub, please see <a href="http://jonudell.net/elmcity/contributor-flow.html">What elmcity contributors do</a>.
</p>


</div> <!-- contributing -->

<!-- feed_publishing -->

<h3 class="_chunk" id="_feed_publishing"><a title="open" href="javascript:show('feed_publishing')">+</a> Publishing iCalendar feeds for the __ID__ hub </h3>

<div class="chunk" id="feed_publishing" style="display:none">

<p>
There are many ways to publish iCalendar-compliant web calendars. Here are some examples of calendars that produce working iCalendar feeds, along with links to the applications, content management systems, or languages used to produce those feeds.
</p>
<p>
<p><div><b>calendar</b>: <a href="http://www.bampfa.berkeley.edu/calendar/">BAM/PFA - Daily Calendar</a></div>
<div><b>iCal producer</b>: <a href="http://support.apple.com/kb/HT2513">Mac 101: iCal (OS X Lion and earlier)</a></div></p><p><div><b>calendar</b>: <a href="http://classical-scene.com/calendar/">The Boston Musical Intelligencer » Concert & Event Calendar</a></div>
<div><b>iCal producer</b>: <a href="http://gigpress.com/">GigPress</a></div><div><b>cms</b>: wordpress</div>
</p><p><div><b>calendar</b>: <a href="http://events.brown.edu/cal/calendar/showPublicCals.rdo">Week of October 28, 2012 - November 3, 2012 :: Brown University Events Calendar</a></div>
<div><b>iCal producer</b>: <a href="http://www.jasig.org/bedework">Bedework | Jasig Community</a></div></p><p><div><b>calendar</b>: <a href="http://www.burkemuseum.org/events/">Events - Burke Museum</a></div>
<div><b>iCal producer</b>: <a href="http://devot-ee.com/add-ons/easy-icalendar">Easy iCalendar - Devot:ee - Devoted to ExpressionEngine</a></div><div><b>cms</b>: expression-engine</div>
</p><p><div><b>calendar</b>: <a href="http://www.christiansburg.org/calendar.aspx">Christiansburg, VA - Official Website</a></div>
<div><b>iCal producer</b>: <a href="http://www.civicplus.com/">CivicPlus - Helping Communities Engage & Interact</a></div><div><b>cms</b>: civicplus</div>
<div><b>language</b>: ruby</div>
</p><p><div><b>calendar</b>: <a href="http://cec-mi.org/about/calendar/">Clean Energy Coalition :: bridging needs. advancing change. :: Calendar of Events</a></div>
<div><b>iCal producer</b>: <a href="http://wordpress.org/extend/plugins/my-calendar/">WordPress › My Calendar « WordPress Plugins</a></div><div><b>cms</b>: wordpress</div>
</p><p><div><b>calendar</b>: <a href="http://www.crazywisdom.net/events.html">Events</a></div>
<div><b>iCal producer</b>: <a href="http://www.localendar.com">Free Online Calendars from localendar.com</a></div></p><p><div><b>calendar</b>: <a href="http://hcpl.net/content/events-programs">Harris County Public Library | your pathway to knowledge</a></div>
<div><b>iCal producer</b>: <a href="http://evancedsolutions.com/">Library Management Software, Staff Scheduling Software, Calendar & Event Scheduling, Summer Reading Programs, Room Reserve, Library Software | Evanced Solutions</a></div></p><p><div><b>calendar</b>: <a href="http://www.hawaiinaturecenter.org/calendar/events/">- Hawaii Nature Center Events Calendar, powered by Helios Calendar</a></div>
<div><b>iCal producer</b>: <a href="http://www.helioscalendar.com/">Publish events online with php web calendar software - Helios Calendar</a></div><div><b>cms</b>: helios</div>
</p><p><div><b>calendar</b>: <a href="https://cid-dffec23daaf5ee89.calendar.live.com/calendar/Jon%27s+Monadnock+Picks+(Music)/index.html">Hotmail Calendar</a></div>
<div><b>iCal producer</b>: <a href="https://cid-dffec23daaf5ee89.calendar.live.com/calendar/Jon%27s+Monadnock+Picks+(Music)/index.html">Hotmail Calendar</a></div></p><p><div><b>calendar</b>: <a href="http://kakaako.com/calendar/">Kakaako | Explore places to eat, shop, learn and live</a></div>
<div><b>iCal producer</b>: <a href="http://wordpress.org/extend/plugins/all-in-one-event-calendar/">WordPress › All-in-One Event Calendar « WordPress Plugins</a></div><div><b>cms</b>: wordpress</div>
</p><p><div><b>calendar</b>: <a href="http://keenepubliclibrary.org/">Keene Public Library</a></div>
<div><b>iCal producer</b>: <a href="http://www.libraryinsight.com/products/rmInsight.htm">LibraryInsight - Room & Calendar Management</a></div><div><b>cms</b>: libraryinsight</div>
</p><p><div><b>calendar</b>: <a href="http://keeneowls.com/sports/wswimdive/index">KEENE STATE OWLS Women's Swimming & Diving</a></div>
<div><b>iCal producer</b>: <a href="http://www.prestosports.com/landing/index">PrestoSports - Every team can have a big web presence</a></div></p><p><div><b>calendar</b>: <a href="http://www.sequoiadistrict.org/site/Default.aspx?PageID=608">Menlo-Atherton High School / Calendar</a></div>
<div><b>iCal producer</b>: <a href="http://www.schoolwires.com/site/default.aspx?PageID=1">Schoolwires / Homepage</a></div><div><b>cms</b>: schoolwires</div>
</p><p><div><b>calendar</b>: <a href="http://www.monadnockfolk.org/">Monadnock Folklore Society</a></div>
<div><b>iCal producer</b>: <a href="http://wordpress.org/extend/plugins/event-calendar/">WordPress › Event Calendar 3 « WordPress Plugins</a></div><div><b>cms</b>: wordpress</div>
</p><p><div><b>calendar</b>: <a href="http://www.oregonnikkei.org/activitiescalendar.htm">Oregon Nikkei Legacy Center :: Calendar</a></div>
<div><b>iCal producer</b>: <a href="http://dotcal.com/">dotCal | dotCal - Calendar Publishing for Business, Individuals, and Social Media</a></div><div><b>cms</b>: dotcal</div>
</p><p><div><b>calendar</b>: <a href="http://www.calendarwiz.com/calendars/calendar.php?crd=norfolkgov&cid%5B%5D=58910&&PHPSESSID=945dcbf07ae299ae81762d247e7d042f&jsenabled=1&winH=710">Calendar: November 2012</a></div>
<div><b>iCal producer</b>: <a href="http://www.calendarwiz.com/index.php">Best Online Calendar</a></div></p><p><div><b>calendar</b>: <a href="http://www.seattle.gov/council/calendar/">Seattle City Council Event Calendar</a></div>
<div><b>iCal producer</b>: <a href="http://www.trumba.com/connect/webcalendars/publishing.aspx">Trumba - Calendar Publishing</a></div><div><b>cms</b>: trumba</div>
</p><p><div><b>calendar</b>: <a href="http://www.seattleschools.org/modules/calendar/showCalendarMonth.phtml">Seattle Public Schools - Calendar</a></div>
<div><b>iCal producer</b>: <a href="http://code.google.com/p/flaimo-php/">flaimo-php - A couple of PHP classes - Google Project Hosting</a></div><div><b>language</b>: php</div>
</p><p><div><b>calendar</b>: <a href="http://uodos.uoregon.edu/ParentandFamilyPrograms/FamilyWeekends/tabid/131/Default.aspx">Family Programs Happenings</a></div>
<div><b>iCal producer</b>: <a href="http://www.activedatax.com/products/calendar">ActiveDataX</a></div></p><p><div><b>calendar</b>: <a href="http://www.waterworksmuseum.org/calendar">October 2012 | Calendar</a></div>
<div><b>iCal producer</b>: <a href="http://anything-digital.com/jcal-pro/the-events-calendar-for-joomla.html">JCal Pro® - the events calendar for Joomla</a></div></p><p><div><b>calendar</b>: <a href="http://zenbuddhisttemple.org/locations/annarbor/index.html">Zen Buddhist Temple-Ann Arbor since 1981</a></div>
<div><b>iCal producer</b>: <a href="http://www.keepandshare.com/">Share Calendars, Files, Addresses, To Dos & Photos Online for Free</a></div><div><b>cms</b>: keepandshare</div>
</p>
</p>
<p>
For interactive views of this data see <a href="https://pinboard.in/u:judell/t:ical-example/">calendars</a> and <a href="https://pinboard.in/u:judell/t:ical-producer/">producers</a>. 
</p>


</div> <!-- /feed_publishing -->


</div> <!-- /everyone -->

<!-- webmasters -->

<h2 id="_webmasters" class="hubdoc"><a title="open" href="javascript:show('webmasters')">+</a> For webmasters </h2>

<div id="webmasters" style="display:none">

<h3 class="_chunk" id="_defaulthtml"><a title="open" href="javascript:show('defaulthtml')">+</a> The default HTML view </h3>


<!-- defaulthtml -->

<div class="chunk" id="defaulthtml" style="display:none">


<p>
Here is the default HTML view for the __ID__ hub. 
</p>

<p>
<iframe name="html" src="http://elmcity.cloudapp.net/__ID__/html?count=1000" style="border-width:thin;border-style:solid;width:530px;height:500px"></iframe>
</p>


<p>
It can be shown on any website that wants to display the hub's aggregation of calendar feeds. To include it on a page using an IFRAME, do something like this:
</p>

<p>
&lt;iframe src="http://elmcity.cloudapp.net/__ID__/html" style="border-width:thin;border-style:solid;width:530px;height:500px">&lt;/iframe>
</p>

</div> <!-- /defaulthtml -->


<!-- widget -->

<h3 class="_chunk" id="_widget"><a title="open" href="javascript:show('widget')">+</a> Category widgets </h3>

<div class="chunk" id="widget" style="display:none">

<p>
If you're part of the music scene, or a fan of the scene, you might want to declare your affiliation to that scene by displaying upcoming events in that category. Here's a widget you could use:
</p>

<div style="width:50%;margin:auto">


<h1 style="font-family:verdana;font-size:12pt;text-align:center">Upcoming music</h1>

<iframe style="display:block;margin:auto" width="330"
height="400"
src="http://elmcity.cloudapp.net/__ID__/html?eventsonly=yes&view=music&theme=a2chron&width=350"
style="border-width:thin;border-style:solid">
</iframe> 


<p style="text-align:center" class="joinlabelstyle"> <a class="joinlink" href="http://elmcity.cloudapp.net/welcome?id=__ID__&hubdesc=__ID__&category=music">Join the calendar network for __ID__!</a> </p> 
</div>

<p>
You can use the <a href="http://jonudell.net/elmcity/exploratorium.html?hub=__ID__&hubdesc=__ID__&tag=music&theme=a2chron">widget exploratorium</a> to create variants of this widget using different categories, widths, and styles. 
</p>

</div> <!-- /widget -->


</div> <!-- /webmasters -->

<!-- curators -->

<h2 id="_curators" class="hubdoc"><a title="open" href="javascript:show('curators')">+</a> For curators </h2>

<div id="curators" style="display:none">

<!-- about_curators -->

<h3 class="_chunk" id="_about_curators"><a title="open" href="javascript:show('about_curators')">+</a> About the role of curator </h3>

<div class="chunk" id="about_curators" style="display:none">


<p>
The curator of the __ID__ hub finds machine-readable calendar feeds, categorizes them, and adds them to the list of sources flowing into the hub. For a pictorial view of how curators interact with contributors and with the hub, please see <a href="http://jonudell.net/elmcity/curator-flow.html">What elmcity curators do</a>.
</p>

</div> <!-- /about_curators -->


<!-- bootstrapping -->

<h3 class="_chunk" id="_bootstrapping"><a title="open" href="javascript:show('bootstrapping')">+</a> Starting the hub </h3>

<div class="chunk" id="bootstrapping" style="display:none">

<p>
A hub starts when somebody who wants to gather calendars for a community asks the <a href="mailto:jonu@microsoft.com">elmcity adminstrator</a> to start a hub for that purpose.
</p>

<p>
When the hub starts, the elmcity service (the software engine that powers hubs for many communities) looks for feeds that the curator might want to include and categorize. This process is automatic and yields two outputs. First, an <a href="http://elmcity.blob.core.windows.net/__LOWERID__/taggable_sources.html">HTML report</a> for the curator to review. (In this report the highlighted items, if any, are already included in the hub.) Second, a corresponding <a href="http://elmcity.blob.core.windows.net/__LOWERID__/taggable_sources.json">data file</a> in a format compatible with the hub's feed-editing tool.
</p>

<p>
The process of deciding which feeds to include, how best to categorize them, and how to find additional feeds, is described at length in <a href="http://jonudell.net/elmcity/elmcity-hub-curation-howto.html">Curating an elmcity hub</a>.
</p>

</div> <!-- /bootstrapping -->


<!-- authenticating -->

<h3 class="_chunk" id="_authenticating"><a title="open" href="javascript:show('authenticating')">+</a> Logging in to the hub </h3>

<div class="chunk" id="authenticating" style="display:none">

<p>
If you're the curator of the __ID__ hub, you gave one the elmcity administrator one of four ways to log in when you started the hub:
</p>

<ol>
<li><p>a Facebook name or ID</p></li>
<li><p>a Google (GMail) email address</p></li>
<li><p>a Microsoft (Live.com) email address</p></li>
<li><p>a Twitter account</p></li>
</ol>

<p>
To log in, visit <a href="http://elmcity.cloudapp.net">http://elmcity.cloudapp.net</a>, go down to the curators' section, and click the twitter, facebook, windows live, or google link. After logging in using one of those mechanisms, the page will refresh and you'll see some new links:
</p>

<blockquote>
<p>
[configure hub] [add/edit/delete feeds] 
</p>
</blockquote>

<p>
The [configure hub] link opens the tool that edits hub settings. (You'll do this rarely.) The [add/edit/delete] link opens the tool that controls the hub's list of feeds. (You'll use this a lot.)
</p>

</div> <!-- /authenticating -->

<!-- hubstats -->

<h3 class="_chunk" id="_hubstats"><a title="open" href="javascript:show('hubstats')">+</a> Quick stats </h3>

<div class="chunk" id="hubstats" style="display:none">

<table class="hubstats">
__HUBSTATS__
</table>

</div> <!-- /hubstats -->

<!-- edit_feeds -->

<h3 class="_chunk" id="_edit_feeds"><a title="open" href="javascript:show('edit_feeds')">+</a> Editing feeds </h3>

<div class="_chunk" id="edit_feeds" style="display:none">

<p>
You define a feed using these four fields:
</p>

<ol>

<li><p>
<b>source</b>: REQUIRED. Name for the feed (e.g.: West Side Youth Soccer)
</p></li> 

<li><p>
<b>feedurl</b>: REQUIRED. The iCalendar (ICS) feed (e.g.: http://westsidesoccer.org/events.ics)
</p></li> 

<li><p>
<b>url</b>: REQUIRED. The web page for the event sponsor's calendar (e.g.: http://westsidesoccer.org/calendar.html)
</p></li> 

<li><p>
<b>category</b>: STRONGLY RECOMMENDED. One or more tags for the feed (e.g.: sports,soccer) (comma-delimited if more than one)
</p></li> 


</ol>

<p>
There are also some optional extra fields.
</p>

<ol>

<li><p>
<b>approved</b>: Default: YES. Set it to NO if you are planning to use a feed but it's not quite ready yet. 
</p></li> 

<li><p>
<b>comments</b>: Notes to yourself about the provenance/status/evolution of this feed.
</p></li> 

<li><p>
<b>catmap</b>: Rarely used. Applies to specialized iCalendar feeds that include their own per-event tags. Enables you to map those feed-provided tags to the categories that you're using for the hub. For more info see <a href="http://www.wired.com/cloudline/2012/08/personal-clouds-work-together/">this overview</a> and <a href="http://blog.jonudell.net/elmcityazure-project-status/#2012-08-08">this detailed explanation</a>.
</p></li> 

</ol>


</div> <!-- /edit_feeds -->


<!-- edit_hub -->

<h3 class="_chunk" id="_edit_hub"><a title="open" href="javascript:show('edit_hub')">+</a> Editing hub settings </h3>

<div class="_chunk" id="edit_hub" style="display:none">

<p>
You probably won't need to touch these. If they ever do need to change, the elmcity administrator will explain why and how.
</p>

</div> <!-- /edit_hub -->

<!-- review_feeds_and_hub -->

<h3 class="_chunk" id="_review_feeds_and_hub"><a title="open" href="javascript:show('review_feeds_and_hub')">+</a> Reviewing feeds and hub settings </h3>

<div class="_chunk" id="review_feeds_and_hub" style="display:none">

<p>
In addition to the above editing tools, you can use a viewer to see your hub settings and feeds. The URL of the viewer is:
</p>

<blockquote>
<p>
<a href="http://elmcity.cloudapp.net/__ID__/metadata">http://elmcity.cloudapp.net/__ID__/metadata</a>
</p>
</blockquote>

<p>
The viewer shows current settings, and also enables you compare changes between any two versions of the hub or feed settings. 
</p>

</div> <!-- /review_feeds_and_hub -->

<!-- statuschecks -->

<h3 class="_chunk" id="_statuschecks"><a title="open" href="javascript:show('statuschecks')">+</a> Checking status </h3>

<div class="_chunk" id="statuschecks" style="display:none">

<p>
The hub periodically gathers events from the iCalendar feeds you've listed. This report shows which feeds were scanned, and how many events were found for each.
</p>

<blockquote>
<p>
<a href="http://elmcity.cloudapp.net/__ID__/stats">http://elmcity.cloudapp.net/__ID__/stats</a>
</p>
</blockquote>

<p>
If there was a problem with a feed, this report can help identify what went wrong.
</p>

<blockquote>
<p>
<a href="http://elmcity.blob.core.windows.net/__LOWERID__/feed_processing_results.json">http://elmcity.blob.core.windows.net/__LOWERID__/feed_processing_results.json</a>
</p>
</blockquote>

</div> <!-- /statuschecks -->


<!-- understanding_tags -->

<h3 class="_chunk" id="_understanding_tags"><a title="open" href="javascript:show('understanding_tags')">+</a> Understanding your categories </h3>

<div class="_chunk" id="understanding_tags" style="display:none">

<p>
The <a href="http://elmcity.cloudapp.net/__ID__/html">default HTML view</a> includes a tag viewer that reports all the categories you've defined (and, marked by {} braces, any categories defined by feeds). The tag viewer also counts the number of events assigned to each tag.
</p>

<p>
There's a complementary view that shows you which feeds are assigning events to particular tags. 
</p>

<blockquote>
<p>
<a href="http://elmcity.blob.core.windows.net/__LOWERID__/tag_sources.html">http://elmcity.blob.core.windows.net/__LOWERID__/tag_sources.html</a>
</p>
</blockquote>

<p>
Effective categorization of a hub is an ongoing process. This view can help you understand the relationships between your feeds and your tags, and thus help you evolve your hub's tagging scheme.
</p>

</div> <!-- /understanding_tags -->

<!-- curator_tutorials -->

<h3 class="_chunk" id="_curator_tutorials"><a title="open" href="javascript:show('curator_tutorials')"> +</a> Tutorials</h3>

<div class="_chunk" id="curator_tutorials" style="display:none">

<p>
These tutorials illustrate some typical tasks and scenarios. 
</p>

<h4>Eleanor Wilson Museum</h4>
<p>
The <a href="http://jonudell.net/elmcity/eleanor-wilson-museum.html">Eleanor Wilson Museum</a> tutorial shows how to trace an event from a newspaper listing to its authoritative source website, check that website for a calendar page, check the calendar page for an iCal feed, and if one exists (as in this example it does) capture the iCal URL for use in a syndication hub.
</p>

<h4>Sapphire Dance</h4>
<p>
The <a href="http://jonudell.net/elmcity/sapphire-dance-example.html">Sapphire Dance</a> tutorial again begins with an event in a newspaper listing, and traces back to an authoritative source with an iCal feed. In this case, the source uses Google Calendar to provide several feeds. The tutorial shows how to discover the URLs of those feeds, differentiate them, and add them to a hub with appropriate tags.
</p>

<h4>Bootstrapping FloydVA</h4>
<p>
The <a href="http://jonudell.net/elmcity/bootstrapping-floydva.html">Bootstrapping Floyd</a> example shows how to process the feeds automatically discovered by the elmcity service when a new hub is first started.
</p>

<h4>Christiansburg VA is not in the Caribbean</h4>
<p>
The <a href="http://jonudell.net/elmcity/christiansburg-not-caribbean.html">Christiansburg is not in the Caribbean</a> example shows that non-authoritative sources can make, then amplify, errors. In this case Eventful confuses Christiansted, St. Croix, VI (Virgin Islands), a venue its robot found on ReverbNation, with Christiansburg VA.
</p>

<h4>Christiansburg.org</h4>
<p>
The <a href="http://jonudell.net/elmcity/christiansburg-dot-org.html">Christiansburg.org</a> example shows again how non-authoritative sources can make, then amplify, errors. In this case Eventful correctly finds a kids' gymnastics event in August, but incorrectly locates it at the Recreation Center. 
</p>

<h4>Adaire Theatre</h4>

<p>
The <a href="http://jonudell.net/elmcity/adaire-theatre.html">Adaire Theater on EventBrite</a> example shows how to process an EventBrite venue found by the auto-discovery process.
</p>


<h4>NRV dark matter</h4>
<p>
<p>
The <a href="http://jonudell.net/elmcity/nrv-dark-matter.html">NRV dark matter</a> example lists sites, discovered while processing the auto-discovered feeds for the NewRiverValleyVA hubs, with online calendars that should be, but aren't, machine-readable. These represent "dark matter" that wants to be lit up. 
</p>

<h4>NRV bright lights</h4>
<p>
<p>
The <a href="http://jonudell.net/elmcity/nrv-bright-lights.html">NRV bright lights</a> example lists sites with online calendars that <i>are</i> machine-readable. These are community role models.
</p>

</div> <!-- /curator_tutorials -->

<!-- curator_presentations -->

<h3 class="_chunk" id="_curator_presentations"><a title="open" href="javascript:show('curator_presentations')"> +</a> Presentations</h3>

<div class="_chunk" id="curator_presentations" style="display:none">

<p>
A presentation given in Ann Arbor on Sept 26 2012 explains and demonstrates the elmcity model.
</p>

<p>
<a href="http://elmcity.blob.core.windows.net/media/a2cal.html">Video (45min)</a>
</p>

<p>
<a href="http://www.slideshare.net/judell/calendar-syndication-in-ann-arbor">Slides</a>
</p>



</div> <!-- /curator_presentations -->


</div> <!-- /curators -->

<!-- documentation -->

<h2 id="_documentation" class="hubdoc"><a title="open" href="javascript:show('documentation')">+</a> Guide to documentation </h2>

<div id="documentation" style="display:none">

<!-- faq -->

<h3 class="_chunk" id="_faq"> FAQ</h3>

<div class="chunk" id="faq" style="display:block">

<p><a href="http://blog.jonudell.net/elmcity-project-faq/">http://blog.jonudell.net/elmcity-project-faq/</a></p>

</div> <!-- /faq -->

<!-- why_ical -->

<h3 class="_chunk" id="_why_ical"> Why iCalendar?</h3>

<div class="chunk" id="why_ical" style="display:block">

<p>The calendars included in this hub support iCalendar, the Internet standard for calendar exchange. <a href="http://jonudell.net/elmcity/why-ical.html">Why iCalendar?</a> explains what iCalendar is and how it can help you.</p>

</div> <!-- /why_ical -->

<!-- roles -->

<h3 class="_chunk" id="_roles"> Roles: curator and contributor</h3>

<div class="chunk" id="roles" style="display:block">

<p>
The person who manages this hub is a <i>curator</i>. The people whose calendars feed into the hub are <i>contributors</i>. Here are pictorial overviews of the <a href="http://jonudell.net/elmcity/curator-flow.html">role of the curator</a> and the <a href="http://jonudell.net/elmcity/contributor-flow.html">role of contributors</a>.
</p>

</div> <!-- /roles -->


<!-- projectstatus -->

<h3 class="_chunk" id="_projectstatus"> Project Status</h3>

<div class="chunk" id="projectstatus" style="display:block">

<p><a href="http://blog.jonudell.net/elmcityazure-project-status/">http://blog.jonudell.net/elmcityazure-project-status/</a></p>

</div> <!-- /projectstatus -->

<!-- forum -->

<h3 class="_chunk" id="_forum"> Forum for Q&A and discussion</h3>

<div class="chunk" id="forum" style="display:block">

<p>Curators of elmcity hubs ask and answer questions, and discuss community calendar syndication, at <a href="http://friendfeed.com/elmcity">http://friendfeed.com/elmcity</a>.</p>

</div> <!-- /forum -->

<!-- theorypractice -->

<h3 class="_chunk" id="_theorypractice"></a> Theory and practice</h3>

<div class="chunk" id="theorypractice" style="display:block">

<p>A <a href="http://blog.jonudell.net/why-and-how/">series of articles</a> at oreilly.com on the principles on which this hub is based, and their implementation.</p>

</div> <!-- /theorypractice -->

<!-- cloudline -->

<h3 class="_chunk" id="_cloudline"> Wired.com columns</h3>

<div class="chunk" id="cloudline" style="display:block">

<p>A <a href="http://delicious.com/judell/elmcity+cloudline">series of columns</a> at wired.com on aspects of the elmcity service.</p>

</div> <!-- /cloudline -->

<!-- blogstory -->

<h3 class="_chunk" id="_blogstory"> Blog backstory</h3>

<div class="chunk" id="blogstory" style="display:block">

<p>A <a href="http://delicious.com/judell/elmcity+azure">series of blog posts</a> on the evolution of the elmcity service.</p>

</div> <!-- /blogstory -->

<!-- guide_to_curation -->

<h3 class="_chunk" id="_guide_to_curation"> Guide to hub curation</h3>

<div class="chunk" id="guide_to_curation" style="display:block">

<p>A <a href="http://jonudell.net/elmcity/elmcity-hub-curation-howto.html">detailed guide</a> to hub curation. Discusses startup, feed discovery, data provenance and authority, tagging principles, and more.</p>

</div> <!-- /guide_to_curation -->


</div> <!-- /documentation -->


<!-- urls -->

<h2 id="_urls" class="hubdoc"><a title="open" href="javascript:show('urls')">+</a> Guide to URLs </h2>

<div id="urls" style="display:none">

<!-- calendar views -->

<h3 class="_chunk" id="_calendar-views"><a title="open" href="javascript:show('calendar-views')">+</a> Calendar views</h3>

<div class="chunk" id="calendar-views" style="display:none">

<table style="border-spacing:8px;width:100%;display:inline">

<tr>
<td>This page</td><td>http://elmcity.cloudapp.net/__ID__/about</td>
</tr> 

<tr>
<td>HTML rendering of __ID__</td><td>http://elmcity.cloudapp.net/__ID__/</td>
</tr>

<tr>
<td>HTML rendering of __ID__</td><td>http://elmcity.cloudapp.net/__ID__/html (alternate)</td>
</tr>

<tr>
<td>__ID__ in JSON format</td><td>http://elmcity.cloudapp.net/__ID__/json</td>
</tr>

<tr>
<td>__ID__ in XML format</td><td>http://elmcity.cloudapp.net/__ID__/xml</td>
</tr>

<tr>
<td>__ID__ in iCalendar format</td><td>http://elmcity.cloudapp.net/__ID__/ics</td>
</tr>

<tr>
<td>__ID__ in RSS format</td><td>http://elmcity.cloudapp.net/__ID__/rss </td>
</tr>

<tr>
<td>HTML rendering of __ID__, in the category <span class="first_tag_name">_</span></td><td>http://elmcity.cloudapp.net/__ID__/html?view=<span class="first_tag_name">_</span></td>
</tr>

<tr>
<td>First 20 events for __ID__, in the category <span class="first_tag_name">_</span>, as HTML</td><td>http://elmcity.cloudapp.net/__ID__/html?count=20&amp;view=<span class="first_tag_name">_</span></td>
</tr>

<tr>
<td>Next 3 days for __ID__, in the category <span class="first_tag_name">_</span>, as XML</td><td>http://elmcity.cloudapp.net/__ID__/xml/soon?view=<span class="first_tag_name">_</span>&amp;days=3  </td>
</tr>

<tr>
<td>Next 12 hours for __ID__, in the category <span class="first_tag_name">_</span>, as JSON</td><td>http://elmcity.cloudapp.net/__ID__/json/soon?view=<span class="first_tag_name">_</span>&amp;hours=12  </td>
</tr>

<tr>
<td>Up to 20 events for __ID__ from August 28 2012 at 9AM to September 2 2012 at 11PM, in the category <span class="first_tag_name">_</span>, as ICS</td><td>http://elmcity.cloudapp.net/__ID__/ics/?view=<span class="first_tag_name">_</span>&amp;from=2012-08-28T09:00&amp;to=2012-09-02T23:00&amp;count=20</td> 
</tr>

</table>

</div> <!-- /calendar-views -->

<!-- administrative views -->

<h3 class="_chunk" id="_administrative-views"><a title="open" href="javascript:show('administrative-views')">+</a> Administrative views</h3>

<div class="chunk" id="administrative-views" style="display:none">

<table style="border-spacing:8px;width:100%;display:inline">

<tr><td colspan="2"><b>Authentication</b></td>

<tr><td>Authenticate with Twitter</td><td>http://elmcity.cloudapp.net/twitter_auth</td></tr>

<tr><td>Authenticate with Facebook</td><td>http://elmcity.cloudapp.net/facebook_auth</td></tr>

<tr><td>Authenticate with Google </td><td>http://elmcity.cloudapp.net/google_auth</td></tr>

<tr><td>Authenticate with Microsoft </td><td>http://elmcity.cloudapp.net/live_auth</td></tr>

<tr><td colspan="2"><b>Configuration</b></td>

<tr><td>Add/edit/delete feeds (requires authentication)</td><td>http://elmcity.cloudapp.net/services/__ID__/get_editable_metadata?flavor=feeds</td></tr>

<tr><td>Configure hub (requires authentication)</td><td>http://elmcity.cloudapp.net/services/__ID__/get_editable_metadata?flavor=metadata</td></tr>

<tr><td>Hub and feed settings and version history</td><td>http://elmcity.cloudapp.net/__ID__/metadata</td></tr>

<tr><td colspan="2"><b>Stats</b></td>

<tr><td>Feed stats</td><td>http://elmcity.cloudapp.net/__ID__/stats</td></tr>

<tr><td>Feed processing error report</td><td>http://elmcity.blob.core.windows.net/__LOWERID__/feed_processing_results.json </td></tr>

<tr><td colspan="2"><b>Tags</b></td>

<tr><td>Map of tags to feeds</td><td>http://elmcity.blob.core.windows.net/__LOWERID__/tag_sources.html </td></tr>

<tr><td colspan="2"><b>Widgets</b></td>

<tr><td>Widget maker for per-tag views</td><td>http://elmcity.blob.core.windows.net/admin/exploratorium.html </td></tr>

<tr><td colspan="2"><b>Forum</b></td>

<tr><td>Questions, answers, best practicesw</td><td>http://friendfeed.com/elmcity</td></tr>


</table>

</div> <!-- /administrative_views -->

</div> <!-- /urls -->

<!-- press -->

<h2 id="_press" class="hubdoc"><a title="open" href="javascript:show('press')">+</a> Press </h2>

<div id="press" style="display:none">

<ul style="list-style-type:none">

<p><li>
Ann Arbor Chronicle, 01/02/2013: <a href="http://annarborchronicle.com/2013/01/02/milestone-flipping-your-calendar-to-2013/">Milestone: Flipping Your Calendar to 2013</a>
</li></p>

<p><li>
Ann Arbor Chronicle, 07/02/2012: <a href="http://annarborchronicle.com/2012/07/02/milestone-on-crime-and-calendars/">Milestone: On Crime and Calendars</a>
</li></p>

</ul>

</div> <!-- /press -->

<pre>














































































































</pre>


<script>
var tags_json;

var curated_tags = [];

var sections = ['everyone', 'webmasters', 'curators', 'documentation', 'urls', 'press'];

$(document).ready(function() {
 });

function get_fragment()
  {  
  var pattern = "#(.+)";  
  var re = new RegExp( pattern );  
  var result = re.exec( window.location.href );   
  if( result == null )    
    return "";  
  else    
    return result[1];
  }

function do_fragment()
  {
  var fragment_id = get_fragment();
  if ( fragment_id != '' )
    {
    fragment_id = fragment_id.replace('_','');
    show (fragment_id);
    var parent_id = $('#' + fragment_id).parent().attr('id');
    show (parent_id);
    var fragtop = $('#_' + fragment_id).offset().top;
    window.scrollTo(0, fragtop);
    }
  }  

function onload()
  { 
  append_permalinks('h2');
  append_permalinks('h3');
  window.setTimeout(do_fragment, 200);
  populate_tags();
  }

function append_permalinks(h)
  {
  var hlist = $(h);
  for (i = 0; i < hlist.length; i++)
    {
    var id = hlist[i].getAttribute('id');
    var perma = ' <a style="color:gray;text-decoration:none" href="#_' + id.replace('_','') + '" title="permalink">#</a>';
    $('#' + id).append(perma);
    }
  }



function populate_tags()
  {
  $.ajax({
        url: 'http://elmcity.cloudapp.net/__ID__/tag_cloud',
        complete: function(xhr, status) {
         tags_json = JSON.parse(xhr.responseText);
         _populate_tags();
         }
       });
  }

// tags_json = [{"university":431},{"vt":431},{"sports":166}];

function _populate_tags()
  {
  var tag_indices = $.keys(tags_json).filter(function(i) { return $.keys(tags_json[i])[0] });

  for ( i in tag_indices )
    {
    var o = tags_json[i];
    for ( p in o )
       {
       if ( p.indexOf('{') == -1 )
          curated_tags.push(p);
       }
    }
  $('#curated_tags').text(curated_tags.sort().join(', '));
  var first_tag = curated_tags[0];
  $('#first_tag_html_href').attr('href', 'http://elmcity.cloudapp.net/__ID__/html?view=' + first_tag);
  $('#first_tag_ics_href').attr('href', 'http://elmcity.cloudapp.net/__ID__/ics?view=' + first_tag);
  $('#first_tag_json_href').attr('href', 'http://elmcity.cloudapp.net/__ID__/json?view=' + first_tag);
  $('.first_tag_name').text(first_tag);
  }

function show(id)
  {
//  var tag_indices = $.keys(tags_json).filter(function(i) { return $.keys(tags_json[i])[0] });

//  if ( sections.indexOf(id) != -1 )
//    sections.map( function(x) { hide(x); } );
  $('#' + id).css('display','block');
  if ( $('#_' + id).children().length > 0 )
    {
    $('#_' + id + ' a').first()[0].innerHTML = '-';
    $('#_' + id + ' a').first()[0].href = "javascript:hide('" + id + "')";
    $('#_' + id + ' a').first()[0].title = 'close';
    }
  }

function hide(id)
  {
  $('#' + id).css('display','none');
  $('#_' + id + ' a').first()[0].innerHTML = '+';
  $('#_' + id + ' a').first()[0].href = "javascript:show('" + id + "')";
  $('#_' + id + ' a').first()[0].title = 'open';
  }


$.extend({
    keys:  function(obj){
        var a = [];
        $.each(obj, function(k){ a.push(k) });
        return a;
    }
});
</script>


</body>
</html>
