<?xml version="1.0" encoding="UTF-8"?>
<rsp stat="ok" version="1.0" resultcount="111" >
<event id="8496340" name="Philharmonia Baroque Orchestra - Marion Verbruggen" description="&quot;Astonishing virtuosity and nuance&quot; - San Jose Mercury News

Dutch virtuoso recorder player Marion Verbruggen returns to Philharmonia Baroque with two Italian Baroque recorder concertos. The Seattle Post-Intelligencer exclaimed &quot;with charm, knowledge and brilliant technique,  she proved herself an extraordinary virtuoso.&quot;
 
November&#39;s feast of  the Italian Baroque continues with Concerti Grossi from Corelli, Gregori, Geminiani, Scarlatti, and Vivaldi, conducted from the harpsichord by Baroque specialist Ottavio Dantone, Music Director of the Accademia Bizantina in Ravenna in his Philharmonia Baroque debut.  Opera News lauds the &quot;inspired, imaginative playing&quot; and &quot;suave grace&quot; of the Accademia Bizantina under Dantone&#39;s baton, and the Daily Express (London) says &quot;The smoothness of harpsichordist Ottavio Dantone is a charm to the ear.&quot;

Ottavio Dantone, conductor
Marion Verbruggen, recorder

CORELLI: Concerto Grosso in F Major, Op. 6 No. 2 

GREGORI: Concerto Grosso in D Major, Op. 2 No. 2

GEMINIANI: Concerto Grosso in D Minor, Op. 3 No. 4 

VIVALDI: Concerto for Alto Recorder in F Major, &quot;La tempeste di mare,&quot; RV 433
Marion Verbruggen, recorder

SAMMARTINI: Concerto for Soprano Recorder in F Major
Marion Verbruggen, recorder

A. SCARLATTI: Concerto Grosso No. 4 in G Minor
 
VIVALDI: Concerto for Strings in D Minor, RV 128

CORELLI: Concerto Grosso in D Major, Op. 6 No. 4" start_date="YYYY-11-19" end_date="" start_time="20:00:00" end_time="22:00:00" personal="0" selfpromotion="1" metro_id="371;1000000" venue_id="120538" venue_url="" user_id="4368" category_id="1" date_posted="2011-09-29 11:35:57" watchlist_count="1" url="http://www.philharmonia.org" distance="0.55" distance_units="miles" latitude="37.8664" longitude="-122.2622" geocoding_precision="address" geocoding_ambiguous="0" venue_name="First Congregational Church" venue_address="2345 Channing Way" venue_city="Berkeley" venue_state_name="California" venue_state_code="CA" venue_state_id="5" venue_country_name="United States" venue_country_code="US" venue_country_id="1" venue_zip="94704" ticket_url="http://www.cityboxoffice.com" ticket_price="$90, $77, $64, $51, $25." ticket_free="0" photo_url="" num_future_events="0" start_date_last_rendition="Nov 19, 2011" utc_start="YYYY-11-20 04:00:00 UTC" utc_end="2011-11-20 07:00:00 UTC"/>
</rsp><!-- w2.up.mud.yahoo.com uncompressed/chunked Sat Oct 15 00:19:30 PDT 2011 -->
