<html>
<head>
<title>elmcity project: iCalendar producers</title>
<style>
a { color : black;  }
body { font-family: Verdana,Arial; width:80%; margin:auto; margin-top:.5in }
p { font-size: 12pt }
</style>
</head>
<body>
<p>
There are many ways to publish iCalendar-compliant web calendars. Here are some examples of calendars that produce working iCalendar feeds, along with links to the applications, content management systems, or languages used to produce those feeds.
</p>
<p>
__BODY__
</p>
<p>
For interactive views of this data see <a href="https://pinboard.in/u:judell/t:ical-example/">calendars</a> and <a href="https://pinboard.in/u:judell/t:ical-producer/">producers</a>. 
</p>
</body>
</html>