<html>
<head>
<title>stats for the __REGION__ region</title>
<style>
a { color : black;  }
body { font-family: Verdana,Arial; width:80%; margin:auto; margin-top:.5in }
p { font-size: 12pt }
</style>
</head>
<body>
__BODY__
</body>
</html>