BEGIN:VCALENDAR
VERSION:2.0
PRODID:-//University of California\, Berkeley//UCB Events Calendar//EN 
CALSCALE:GREGORIAN
METHOD:PUBLISH
BEGIN:VTIMEZONE
TZID:America/Los_Angeles
BEGIN:STANDARD
TZOFFSETFROM:-0700
TZOFFSETTO:-0800
DTSTART:19701029T020000
RRULE:FREQ=YEARLY;BYMONTH=11;BYDAY=1SU
END:STANDARD
BEGIN:DAYLIGHT
DTSTART:19700402T020000
TZOFFSETFROM:-0800
TZOFFSETTO:-0700
RRULE:FREQ=YEARLY;BYMONTH=3;BYDAY=2SU
END:DAYLIGHT
END:VTIMEZONE
BEGIN:VEVENT
DTSTAMP:20110818T192444Z
DTSTART;TZID=America/Los_Angeles:YYYY1001T100000
DTEND;TZID=America/Los_Angeles:YYYY1001T120000
TRANSP:OPAQUE
SUMMARY:Post-Baccalaureate Health Professions Program
UID:45691-ucb-events-calendar@berkeley.edu
ORGANIZER;CN="UC Berkeley Calendar Network":
LOCATION:Suite 400 UC Berkeley Extension Belmont Center\, 1301 Shoreway Rd.\, Belmont\, CA 94002
DESCRIPTION:This specially designed program provides academic preparation in the sciences and advising to enhance your application for admission to medical\, dental\, or veterinary school or to other advanced degree programs in the health professions. Discover how you can prepare for medical school and other advanced health career training programs with UC Berkeley Extension's top-flight science courses. For details\, visit the Post-Baccalaureate Health Professions Program page at <a href="http://extension.berkeley.edu/spos/premed.html">extension.berkeley.edu/spos/premed.html</a>.
URL:http://events.berkeley.edu/index.php/calendar/sn/SPH.html?event_ID=45691
SEQUENCE:0
CLASS:PUBLIC
CREATED:20110818T192444Z
LAST-MODIFIED:20110907T215245Z
X-MICROSOFT-CDO-BUSYSTATUS:BUSY
X-MICROSOFT-CDO-INSTTYPE:0
X-MICROSOFT-CDO-IMPORTANCE:1
X-MICROSOFT-CDO-OWNERAPPTID:-1
END:VEVENT
END:VCALENDAR
