<html>
<head><title>the elmcity calendar network</title></head>
<body style="font-family:verdana;margin-left:.5in;margin-right:.5in;margin-top:.5in">

<h1>Joining the __HUBDESC__ calendar network (category: __CATEGORY__)</h1>

<h2>Join as a subscriber</h2>

<p>
You can bookmark this standard web view in a desktop or mobile browser:
</p>

<blockquote>
<a href="http://elmcity.cloudapp.net/__ID__/html?view=__CATEGORY__">http://elmcity.cloudapp.net/__ID__/html?view=__CATEGORY__</a>
</blockquote>

<p>
You can also use your own calendar program (Google Calendar, Outlook, etc.) on your desktop or smartphone to subscribe to a merged calendar feed made from the sources that feed this network. Here's the URL of that calendar:
</p>

<blockquote>
<a href="http://elmcity.cloudapp.net/__ID__/ics?view=__CATEGORY__">http://elmcity.cloudapp.net/__ID__/ics?view=__CATEGORY__</a>
</blockquote>





<h2>Join as a supporting website</h2>

<p>
If you'd like to promote __CATEGORY__ in __HUBDESC__ on your website, you can embed a widget like this one.
</p>

<div style="width:350px;margin-left:auto;margin-right:auto">

<h1 style="font-family:verdana;font-size:12pt">Upcoming in __HUBDESC__: __UPPERCATEGORY__</h1>

<iframe width="330" 
height="400" 
src="http://elmcity.cloudapp.net/services/__ID__/html?eventsonly=yes&tags=no&taglist=no&width=100%&view=__CATEGORY__&template=default.tmpl" 
style="border-width:thin;border-style:solid"> 
</iframe>

<p> <a href="http://elmcity.cloudapp.net/welcome?id=__ID__&hubdesc=__ESCAPED_HUBDESC__&category=__CATEGORY__")">Join the calendar network for __HUBDESC__</a> </p>

</div>

<p>
Here's the code to embed the widget.
</p>

<div>

&lt;h1 style="font-family:verdana;font-size:12pt">Upcoming in __HUBDESC__: __UPPERCATEGORY__&lt;/h1>

&lt;iframe width="330" 
height="400" 
src="http://elmcity.cloudapp.net/services/__ID__/html?eventsonly=yes&tags=no&taglist=no&width=100%&view=__CATEGORY__&template=default.tmpl" 
style="border-width:thin;border-style:solid"> 
&lt;/iframe>

&lt;p> &lt;a href="http://elmcity.cloudapp.net/welcome?id=__ID__&hubdesc=__ESCAPED_HUBDESC__&category=__CATEGORY__")">Join the calendar network for __HUBDESC__&lt;/a> &lt;/p>

</div>

<p>
To customize the widget, please visit the <a href="http://jonudell.net/elmcity/exploratorium.html">widget exploratorium</a>.
</p>

<h2>Join as a contributing website</h2>

<p>
The __HUBDESC__ calendar network for __CATEGORY__ is currently fed by these contributing sources:
</p>

<p>
__SOURCES__
</p>

<p>
If your group or organization produces events that should be one of these sources but isn't, we have a unique solution: publish a calendar on your own website (as you probably already do) and then <i>syndicate</i> it into the calendar network. It's easy, and it's free. Contact the <a href="mailto:__CONTACT__">curator</a> for the __HUBDESC__ calendar network to find out how. You can also <a href="http://blog.jonudell.net/elmcity-project-faq/">read all about</a> how this works.
</p>

</body>
</html>