a:link { text-decoration: none; color:#000066 }
a:visited { text-decoration: none; color:#000066 }
a:hover { text-decoration: underline; color:#000066 }
a:active { text-decoration: none; color:black  }

body { 
font-family: verdana,arial,sans-serif; 
font-size:10pt;
margin-left: .75in;
margin-right: .75in;
} 

div.EventList {
padding:10px;
border-style:solid;
border-width:thin;
width:200px;
margin:6px;
}

td {
font-size:smaller;
padding: 20px;
vertical-align:top;
margin-left,margin-right:20px;
}

div.EventListTitle {
margin-top:8px;
margin-bottom:8px;
text-align:center;
font-weight:bold;
}

div.Date {
font-weight:bold;
}

div.Event {
margin-top:5px;
margin-bottom:10px;
}




