a:link { text-decoration: none; color:#000066 }
a:visited { text-decoration: none; color:#000066 }
a:hover { text-decoration: underline; color:#000066 }
a:active { text-decoration: none; color:black  }

body { 
font-family: verdana,arial,sans-serif; 
font-size:9pt;
margin-left:.25in;
margin-right:.25in;
} 


div.events {
width:60%;
}

.eventStart {
font-size:smaller;
color: #333333;
}

.eventTitle {
}

.eventSource {
color: #333333;
font-size: smaller;
}


h1 { font-size:11pt;font-weight:bold }

h2 { font-size:10pt}

h3 { font-size:9pt;font-weight:normal;}

h3.eventBlurb { font-size:9pt; width: 70%; }


table { 
border-spacing:4px;
font-size:9pt;
 }

p.example {
font-size: smaller;
}

p.header {
text-align:center;
}

#sources {
display:none;
}

#contribute {
width:60%;
padding:8px;
border-width:thin;
border-style:solid;
margin-top:20px;
display:none;
width:60%;
}


/*
.editable_changeable:before {
content:"* ";
}
*/

.editable_changed {
background-color:lightgray;
}

