<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"> 
<html>
<head>
<title>__TITLE__</title>
<link type="text/css" rel="stylesheet" href="__CSSURL__">
<link type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/smoothness/jquery-ui.css" rel="stylesheet" />
<script type="text/javascript" src="http://elmcity.blob.core.windows.net/admin/jquery-1.3.2.js"></script>
<script type="text/javascript" src="http://elmcity.blob.core.windows.net/admin/ui.core.js"></script>
<script type="text/javascript" src="http://elmcity.blob.core.windows.net/admin/ui.datepicker.js"></script>

<script type="text/javascript" src="http://elmcity.blob.core.windows.net/admin/elmcity-1.1.js"></script>

</head>

<body>

<div style="width:__WIDTH__px">

<div id="datepicker" ></div>

<h1>__TITLE__</h1>

__IMG__

<div id="sources">

<p class="sources">event sources</p>

__SOURCES__

<p class="sources">
how to <a target="_new" href="__CONTRIBUTE__">post events</a>
</p>

</div>

<!-- begin events -->

<div class="events">

__EVENTS__

</div>

<!-- end events -->

</p>

<hr>
<p class="contact">

<a href="mailto:__CONTACT__">questions and comments</a>
</p>

</body>
</html>

