<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML+RDFa 1.0//EN" "http://www.w3.org/MarkUp/DTD/xhtml-rdfa-1.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>__TITLE__</title>
<link type="text/css" rel="stylesheet" href="__CSSURL__"/>
<link type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/smoothness/jquery-ui.css" rel="stylesheet" />

<script type='text/javascript' src='http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.7.2.min.js'></script>
<script type='text/javascript' src='http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.9/jquery-ui.min.js'></script>

<script type="text/javascript" src="http://az26683.vo.msecnd.net/admin/elmcity-1.5.js"></script>


</head>

<body onload="on_load()">

<div id="body" style="width:__WIDTH__px">

<div id="elmcity_id" style="display:none">
__ID__
</div>

<div id="datepicker" ></div>

<div id="finder">
<input name="findbox" id="findbox" /> <input id="findsubmit" onclick="find_text()" type="submit" value="find" />
</div>

<h1>__TITLE__</h1>

<div id="sidebar" style="text-align:center">

<p>sources</p>

<div>
<img alt="Local Events, Concerts, Tickets" src="http://az26683.vo.msecnd.net/admin/eventful_logo.gif">
<div><a href="http://eventful.com/">Events</a> by Eventful</div>
</div>

<p>
<a href="http://meetup.com.com"><img src="http://az26683.vo.msecnd.net/admin/meetup.png"></a>
</p>

<p style="font-size:larger;font-weight:bold"><a href="http://facebook.com">facebook</a></p>

<p>
<a href="http://eventbrite.com"><img src="http://az26683.vo.msecnd.net/admin/eventbrite_logo.jpg" style="width:80px"></a>
</p>

<p>
<a href="http://upcoming.yahoo.com"><img style="width:140px" src="http://az26683.vo.msecnd.net/admin/upcoming_logo.gif"></a>
</p>

<p style="font-size:larger"><a target="_new" href="http://elmcity.cloudapp.net/services/__ID__/stats">__FEEDCOUNT__ iCalendar feeds</a></p>

<p style="font-size:larger;margin-top:25px">
how to <a target="_new" href="http://blog.jonudell.net/elmcity-project-faq/#contribute">post events</a>
</p>

<p style="font-size:larger">
<a href="mailto:__CONTACT__?subject=elmcity question or comment">contact the curator</a>
</p>

<p style="font-size:larger">
<a href="http://blog.jonudell.net/elmcity-project-faq/#whatis">about</a>
</p>

<p>
<a href="http://windowsazure.com"><img style="width:150px;margin-top:10px" src="http://az26683.vo.msecnd.net/admin/pbwa.png"></a>
</p>

</div>

<div id="tags">
</div>

<!-- begin events -->

<div class="events">

__EVENTS__

</div>

<!-- end events -->

</div>

<!--
__GENERATED__
-->

</body>
</html>

