<html>
<head>
<title>
__TITLE__	
</title>
<link href="__CSS__" rel="stylesheet" type="text/css" />
</head>

<body>

__AUTHENTICATE__

<h1 style="text-align:center">the elmcity calendar curation project: 
<a href="http://blog.jonudell.net/2009/04/10/community-calendar-curation-the-startup-guide/">quickstart</a>, 
<a href="http://blog.jonudell.net/elmcity-project-faq/">faq</a>, 
<a href="http://delicious.com/judell/elmcity+azure">backstory</a>, 
<a href="http://blog.jonudell.net/elmcityazure-project-status/">changelog</a>, 
<a href="http://friendfeed.com/rooms/elmcity">curators room</a>  
</h1>

<table style="width:100%">
<tbody>

<tr><td valign="top">

<h2 style="text-align:center">where</h2>

__WHERE_HUBS__


</td>

<td valign="top">

<h2 style="text-align:center">what</h2>

__WHAT_HUBS__


</td></tr>
</tbody></table>

<p>
__VERSION__
</p>

</body>
</html>