<p style="text-align:right">
sign in with <a href="/twitter_auth">twitter</a> (<a href="http://friendfeed.com/elmcity/aae976c9/you-can-now-sign-in-to-elmcity-using-twitter-and">?</a>) or <a href="/facebook_auth">facebook</a> (<a href="http://friendfeed.com/elmcity/c0ed6d5e/in-addition-to-twitter-you-can-now-also-sign">?</a>) or <a href="/live_auth">windows live</a> (<a href="http://friendfeed.com/elmcity/12bc566e/in-addition-to-facebook-andtwitter-you-can-now">?</a>) or <a href="/google_auth">google</a> (<a href="http://friendfeed.com/elmcity/34275d50/you-can-now-sign-in-to-elmcity-using-google">?</a>)
</p>
