<p style="text-align: right;">
[twitter: __TWITTERNAME__]  [elmcity: __ELMCITYID__]  [<a href="/services/__ELMCITYID__/get_editable_metadata?flavor=metadata">configure hub</a>] [<a href="/services/ELMCITYID/get_editable_metadata?flavor=feeds">add/edit/delete feeds</a>]
</p>