<h1>__ID__</h1>

<h2>For everyone</h2>

<h3>iCalendar (ICS) feeds</h3>

<p>
When an elmcity hub has been tagged well, you can use tags to create iCalendar views that you can subscribe to in any calendar program. Sample URLs that you can subscribe to Google Calendar or Outlook or Apple iCal or Hotmail Calendar or another calendar client:
</p>

<p>
<a href="http://elmcity.cloudapp.net/services/vbcal/ics?view=library">library in Virginia Beach</a> (http://elmcity.cloudapp.net/services/vbcal/ics?view=library)
</p>

<p>
<a href="http://elmcity.cloudapp.net/services/seattleopencalendar/ics?view=music">music in Seattle</a> (http://elmcity.cloudapp.net/services/seattleopencalendar/ics?view=music)
</p>

<p>
<a href="http://elmcity.cloudapp.net/services/a2cal/ics?view=frisbee">frisbee in Ann Arbor</a> (http://elmcity.cloudapp.net/services/a2cal/ics?view=frisbee)
</p>

<p>
<a href="http://elmcity.cloudapp.net/services/berkeley/ics?view=environment">environment in Berkeley</a> (http://elmcity.cloudapp.net/services/berkeley/ics?view=environment)
</p>

<p>
<a href="http://elmcity.cloudapp.net/services/fallschurchcals/ics?view=books">books in Falls Church</a> (http://elmcity.cloudapp.net/services/fallschurchcals/ics?view=books)
</p>

<h2>For curators</h2>

<h3>View hub settings and feeds</h3>

<p>URL: <a href="/services/__ID__/metadata">/services/__ID__/metadata</a></p>

<h3>Edit hub settings and feeds</h3>

<p>
To use these links, first visit the home page and authenticate using the Twitter or Facebook or Gmail or Windows Live account linked to your elmcity hub.
</p>

<p>Hub URL: <a href="/services/__ID__/get_editable_metadata?flavor=metadata">/services/__ID__/get_editable_metadata?flavor=metadata</a></p>

<p>Feeds URL: <a href="/services/__ID__/get_editable_metadata?flavor=feeds">/services/__ID__/get_editable_metadata?flavor=feeds</a></p>

<h3>View hub stats</h3>

<p>URL: <a href="/services/__ID__/stats">/services/__ID__/stats</a></p>

<p>
A report showing how many events were loaded from your various sources on the last run of the aggregator.
</p>



<h2>For webmasters</h2>

<h3>HTML</h3>

<p>URL for events in HTML: <a href="/services/__ID__/html">/services/__ID__/html</a></p>

<p>
This is the default HTML rendering for your hub. If you want to use it as is, you can include it in one of your pages via an IFRAME like so:
</p>


<p>
<iframe name="html" src="/services/__ID__/html" style="border-width:thin;border-style:solid;width:520px;height:800px"></iframe>
</p>


<p>
Code:
</p>

<p>
&lt;iframe src="http://elmcity.cloudapp.net/services/__ID__/html" style="border-width:thin;border-style:solid;width:500px;height:400px">&lt;/iframe>
</p>

<p>
The default rendering is controlled by a default <a href="http://elmcity.blob.core.windows.net/admin/events.tmpl">template</a> and <a href="http://elmcity.blob.core.windows.net/admin/elmcity.css">CSS file</a>. If you want to change the default rendering, you can swap in your own versions of these.
</p>

<h4>Today only in HTML (IFRAME)</h4>

<p>URL for today's events in HTML: <a href="/services/__ID__/today_as_html">/services/__ID__/today_as_html</a></p>

<p>
Code: &lt;iframe width="70%" height="300" src="/services/__ID__/today_as_html">&lt;/iframe>
</p>

<p>
Behavior:
</p>
<p>
<iframe width="70%" height="300" src="/services/__ID__/today_as_html"></iframe>
</p>

<h4>Today only in HTML (JavaScript)</h4>

<p>Today only in HTML (JavaScript): <a href="/services/__ID__/jswidget">/services/__ID__/jswidget</a></p>

<p>
Code:
</p>

<p>
&lt;script  src="/services/__ID__/jswidget">&lt;/script>
</p>

<p>
Behavior:
</p>

<script src="/services/__ID__/jswidget"></script>


<h3>JSON</h3>

<p>URL for events in JSON: <a href="/services/__ID__/json">/services/__ID__/json</a></p>

<p>
You can use the JSONP mechanism, as shown in the following examples from Keene, NH:
</p>

<p>
http://elmcity.cloudapp.net/services/elmcity/json?jsonp=music&count=5&view=music
</p>

<p>
http://elmcity.cloudapp.net/services/elmcity/json?jsonp=government&count=5&view=government
</p>

<p>
http://elmcity.cloudapp.net/services/elmcity/json?jsonp=recreation&count=5&view=recreation
</p>

<p>
View the source of this page for JavaScript code that produces the following behavior:
</p>


<script>
var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];

var days = ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'];

function get_evt_date(dt)
 { 
 var date = days[dt.getDay()] + ' ' + months[dt.getMonth()] + ' ' + dt.getDate();
 return date;
 }

function get_evt_time(evt,dt)
 { 
 var hours = dt.getHours().toString();
 if ( hours.length == 1 ) hours = '0' + hours;
 var minutes = dt.getMinutes().toString();
 if ( minutes == '0' ) minutes = '00';
 var time = '';
 if ( evt["allday"] || ( hours == '00' && minutes == '00' ) )
   time = '';
 else
   time = hours + ':' + minutes;
 return time;
 }

function make_dict(obj)
 {
 var events_by_date = new Object();
 for ( i = 0; i < obj.length; i++ )
  {
  var evt = obj[i];
  var expr = evt["dtstart"].replace(/\/Date\((\d+)\)\//gi, "new Date($1)");
  var dt = eval(expr); 
  evt_date = evt['evt_date'] = get_evt_date(dt);
  evt_time = evt['evt_time'] = get_evt_time(evt,dt);
  if ( evt_date in events_by_date )
	events_by_date[evt_date].push(evt);
  else
    events_by_date[evt_date] = [evt];
  }
 return events_by_date;
 }

function music(obj)
 {
 eventlist(obj,'music')
 }

function government(obj)
 {
 eventlist(obj,'government')
 }

function recreation(obj)
 {
 eventlist(obj,'recreation')
 }


function eventlist(obj,id)
 {
  var events_by_date = make_dict(obj);
  var s = '';
  for ( var datekey in events_by_date )
  {
    s += '<div class="Date">' + datekey + '</div>';
    var list = events_by_date[datekey];
    for ( i = 0; i < list.length; i++ )
      {
      var evt = list[i];
      s += '<div class="Event">';
      s += '<span class="Time">' + evt['evt_time'] + '</span> ';
      s += '<span class="Title"><a href="' + evt["url"] + '" title="source: ' + evt["source"] + '">' + evt["title"] + '</a>';
      s += '<span class="Source"> (' + evt['source'] + ')</span>';
      s += '</div>';
      }
    }
 document.getElementById(id).innerHTML += s;
 }
</script>

<table>
<tr>
<td>
<div class="EventList" id="music" />
<div class="EventListTitle">keene: music</div>
<script src="http://elmcity.cloudapp.net/services/elmcity/json?jsonp=music&count=5&view=music"></script>
</td>
<td>
<div class="EventList" id="government" />
<div class="EventListTitle">keene: government</div>
<script src="http://elmcity.cloudapp.net/services/elmcity/json?jsonp=government&count=5&view=government"></script>
</td>
<td>
<div class="EventList" id="recreation"/>
<div class="EventListTitle">keene: recreation</div>
<script src="http://elmcity.cloudapp.net/services/elmcity/json?jsonp=recreation&count=5&view=recreation"></script>
</td>
</tr>
</table>


<h3>RSS</h3>

<p>URL for events in RSS: <a href="/services/__ID__/rss">/services/__ID__/rss</a></p>

<p>
Among other uses, this format enables sites like WordPress.com, which don't allow the JavaScript tricks needed to include other formats, but can show RSS feeds, to display events. See for example <a href="http://blog.jonudell.net/">blog.jonudell.net</a>, where a WordPress RSS widget is displaying upcoming music events in Keene, NH (at bottom right of blog homepage). The URL used by the widget is http://elmcity.cloudapp.net/services/elmcity/rss?view=music&count=10.
</p>

<h3>ICS</h3>

<p>URL for events in ICS (iCalendar): <a href="/services/__ID__/ics">/services/__ID__/ics</a></p>


<p>
Here's an example of how to publish using Google Calendar, as seen on the <a href="http://inmenlo.com/events-calendar/">InMenlo</a> site.
</p>

<p>
Code:
</p>

<p>
&lt;iframe name="ics" scrolling="no" height="300" frameborder="0" width="500" style="border-width: 0pt;" src="http://www.google.com/calendar/hosted/inmenlo.com/embed?showTitle=0&amp;showCalendars=0&amp;mode=AGENDA&amp;height=300&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=vj2cb6p3fq5jidup23rfu8vnor7472d2%40import.calendar.google.com&amp;color=%23AB8B00&amp;ctz=America%2FLos_Angeles">&lt;/iframe>
</p>

<p>
Behavior:
</p>

<p>
<iframe scrolling="no" height="300" frameborder="0" width="560" style="border-width: 0pt;" src="http://www.google.com/calendar/hosted/inmenlo.com/embed?showTitle=0&amp;showCalendars=0&amp;mode=AGENDA&amp;height=300&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=vj2cb6p3fq5jidup23rfu8vnor7472d2%40import.calendar.google.com&amp;color=%23AB8B00&amp;ctz=America%2FLos_Angeles"></iframe>
</p>


<h3>XML</h3>

<p>URL: <a href="/services/__ID__/xml">/services/__ID__/xml</a></p>

<p>
Your events in XML. 
</p>


