<h1>Resources for __ID__</h1>

<h2>1. Renderings of your data</h2>

<p>(Note that all renderings can be <a href="http://blog.jonudell.net/elmcity-project-faq/#viewingcategories">viewed by category</a> if your feeds are <a href="http://blog.jonudell.net/elmcity-project-faq/#categorizing">categorized</a> on a per-feed and/or per-event basis.)</p>


<h3>HTML</h3>

<p>URL: <a href="/services/__ID__/html">/services/__ID__/html</a></p>

<p>
This is the default HTML rendering for your hub. If you want to use it as is, you can link to it from one of your pages, or include it in one of your pages via an IFRAME like so:
</p>


<p>
The code:
</p>

<p>
&lt;iframe src="http//elmcity.cloudapp.net/services/__ID__/html" style="border-width:thin;border-style:solid;width:500px;height:400px">&lt;/iframe>
</p>

<p>
<iframe name="html" src="/services/__ID__/html" style="border-width:thin;border-style:solid;width:520px;height:800px"></iframe>
</p>


<p>
The default rendering is controlled by a default template and CSS file:
</p>

<p>
1. template: <a href="http://elmcity.blob.core.windows.net/admin/events.tmpl">http://elmcity.blob.core.windows.net/admin/events.tmpl</a>
</p>

<p>
2. CSS: <a href="http://elmcity.blob.core.windows.net/admin/elmcity.css">http://elmcity.blob.core.windows.net/admin/elmcity.css</a>
</p>

<p>
If you want to change the default rendering, you can use your own template and/or CSS file and/or banner image. To do that, create the resources and point to them from these metadata variables:
</p>

<p>
1. template=http://...
</p>

<p>
2. css=http://...
</p>

<h3>XML</h3>

<p>URL: <a href="/services/__ID__/xml">/services/__ID__/xml</a></p>

<p>
Your events in XML. 
</p>


<h3>ICS</h3>

<p>URL: <a href="/services/__ID__/ics">/services/__ID__/ics</a></p>

<p>
Your events in ICS (iCalendar).
</p>

<p>
Here's an example of how to embed your iCalendar feed using Google Calendar, as seen on the <a href="http://inmenlo.com/events-calendar/">InMenlo</a> site.
</p>

<p>
The code:
</p>

<p>
&lt;iframe name="ics" scrolling="no" height="300" frameborder="0" width="500" style="border-width: 0pt;" src="http://www.google.com/calendar/hosted/inmenlo.com/embed?showTitle=0&amp;showCalendars=0&amp;mode=AGENDA&amp;height=300&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=vj2cb6p3fq5jidup23rfu8vnor7472d2%40import.calendar.google.com&amp;color=%23AB8B00&amp;ctz=America%2FLos_Angeles">&lt;/iframe>
</p>

<p>
The behavior:
</p>

<p>
<iframe scrolling="no" height="300" frameborder="0" width="560" style="border-width: 0pt;" src="http://www.google.com/calendar/hosted/inmenlo.com/embed?showTitle=0&amp;showCalendars=0&amp;mode=AGENDA&amp;height=300&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=vj2cb6p3fq5jidup23rfu8vnor7472d2%40import.calendar.google.com&amp;color=%23AB8B00&amp;ctz=America%2FLos_Angeles"></iframe>
</p>

<p>
Advantages: Easy to customize, various views available, can display in user's timezone if that is not the same as the location's timezone. Disadvantages: Tells less at a glance about each event, doesn't make event URLs into links. 
</p>

<p>
To make this happen, import http://elmcity.cloudapp.net/services/__ID__/ics into Google Calendar, do Settings -> Calendar Settings -> Calendars -> Embed -> Customize. Pick your options, then capture the generated IFRAME code and stick it into your page.
</p>


<h3>JSON</h3>

<p>URL: <a href="/services/__ID__/json">/services/__ID__/json</a></p>

<p>
Your events in JSON. Here are some widgets made, using the JSONP mechanism, from these URLs:
</p>

<p>
http://elmcity.cloudapp.net/services/elmcity/json?jsonp=music&count=5&view=music
</p>

<p>
http://elmcity.cloudapp.net/services/elmcity/json?jsonp=government&count=5&view=government
</p>

<p>
http://elmcity.cloudapp.net/services/elmcity/json?jsonp=recreation&count=5&view=recreation
</p>

<script>
var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];

var days = ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'];

function get_evt_date(dt)
 { 
 var date = days[dt.getDay()] + ' ' + months[dt.getMonth()] + ' ' + dt.getDate();
 return date;
 }

function get_evt_time(evt,dt)
 { 
 var hours = dt.getHours().toString();
 if ( hours.length == 1 ) hours = '0' + hours;
 var minutes = dt.getMinutes().toString();
 if ( minutes == '0' ) minutes = '00';
 var time = '';
 if ( evt["allday"] || ( hours == '00' && minutes == '00' ) )
   time = '';
 else
   time = hours + ':' + minutes;
 return time;
 }

function make_dict(obj)
 {
 var events_by_date = new Object();
 for ( i = 0; i < obj.length; i++ )
  {
  var evt = obj[i];
  var expr = evt["dtstart"].replace(/\/Date\((\d+)\)\//gi, "new Date($1)");
  var dt = eval(expr); 
  evt_date = evt['evt_date'] = get_evt_date(dt);
  evt_time = evt['evt_time'] = get_evt_time(evt,dt);
  if ( evt_date in events_by_date )
	events_by_date[evt_date].push(evt);
  else
    events_by_date[evt_date] = [evt];
  }
 return events_by_date;
 }

function music(obj)
 {
 eventlist(obj,'music')
 }

function government(obj)
 {
 eventlist(obj,'government')
 }

function recreation(obj)
 {
 eventlist(obj,'recreation')
 }


function eventlist(obj,id)
 {
  var events_by_date = make_dict(obj);
  var s = '';
  for ( var datekey in events_by_date )
  {
    s += '<div class="Date">' + datekey + '</div>';
    var list = events_by_date[datekey];
    for ( i = 0; i < list.length; i++ )
      {
      var evt = list[i];
      s += '<div class="Event">';
      s += '<span class="Time">' + evt['evt_time'] + '</span> ';
      s += '<span class="Title"><a href="' + evt["url"] + '" title="source: ' + evt["source"] + '">' + evt["title"] + '</a>';
      s += '<span class="Source"> (' + evt['source'] + ')</span>';
      s += '</div>';
      }
    }
 document.getElementById(id).innerHTML += s;
 }
</script>

<table>
<tr>
<td>
<div class="EventList" id="music" />
<div class="EventListTitle">keene: music</div>
<script src="http://elmcity.cloudapp.net/services/elmcity/json?jsonp=music&count=5&view=music"></script>
</td>
<td>
<div class="EventList" id="government" />
<div class="EventListTitle">keene: government</div>
<script src="http://elmcity.cloudapp.net/services/elmcity/json?jsonp=government&count=5&view=government"></script>
</td>
<td>
<div class="EventList" id="recreation"/>
<div class="EventListTitle">keene: recreation</div>
<script src="http://elmcity.cloudapp.net/services/elmcity/json?jsonp=recreation&count=5&view=recreation"></script>
</td>
</tr>
</table>


<h3>RSS</h3>

<p>URL: <a href="/services/__ID__/rss">/services/__ID__/rss</a></p>

<p>
Your events in RSS. Among other uses, this enables sites like WordPress.com, which don't allow the JavaScript tricks needed to include other formats, but can show RSS feeds, to display events.
</p>

<h3>Today's events</h3>

<p>URL: <a href="/services/__ID__/today_as_html">/services/__ID__/today_as_html</a></p>

<p>
A default HTML rendering of just today's events. Can be sourced into an iframe, like so:
</p>

<p>
&lt;iframe width="70%" height="300" src="/services/__ID__/today_as_html">&lt;/iframe>
</p>

<p>
<iframe width="70%" height="300" src="/services/__ID__/today_as_html"></iframe>
</p>

<p>URL: <a href="/services/__ID__/jswidget">/services/__ID__/jswidget</a></p>

<p>
A default HTML rendering of just today's events. Can be sourced like so:
</p>

<p>
&lt;script  src="/services/__ID__/jswidget">&lt;/script>
</p>


<h2>2. Feeds</h2>

<p>URL: <a href="http://delicious.com/__ID__/trusted+ics+feed">http://delicious.com/__ID__/trusted+ics+feed</a></p>

<p>
This delicious query shows you the iCalendar feeds you have bookmarked and tagged for inclusion in your aggregation.
</p>


<h2>3. Stats</h2>

<p>URL: <a href="/services/__ID__/stats">/services/__ID__/stats</a></p>

<p>
A report showing how many events were loaded from your various sources on the last run of the aggregator.
</p>

<h2>4. Metadata</h2>

<p>URL: <a href="/services/__ID__/metadata">/services/__ID__/metadata</a></p>

<p>
A view of your hub's metadata. 
</p>

<h2>5. Tags</h2>

<h3>Tags as HTML</h3>

<p>URL: <a href="/services/__ID__/tags_html">/services/__ID__/tags_html</a></p>

<p>
A report showing which categories you're using, and how many events are in each category.
</p>


<h3>Tags as JSON</h3>

<p>URL: <a href="/services/__ID__/tags_json">/services/__ID__/tags_json</a></p>

<p>
Same report as JSON.
</p>

<h2>6. Search (applies only to where hubs)</h2>

<p>URL: <a href="/services/__ID__/search">/services/__ID__/search</a></p>

<p>
Output from an experimental search robot that tries to find web pages for your location that contain event information that <i>isn't</i> available in iCalendar format. It's intended to help curators find source that could be publishing iCalendar but aren't. See <a href="http://blog.jonudell.net/2009/03/13/searching-for-calendar-information/">Searching for calendar information</a> for more on this.
</p>

