<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="routedebugger" version="1.0.0" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="1.7.0.0" />
  <package id="WindowsAzure.Storage" version="1.7.0.0" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" />
  <package id="51Degrees.mobi" version="2.1.10.3" />
</packages>