<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true">
		</modules>
		<handlers>
			<remove name="MvcHttpHandler" />
			<remove name="UrlRoutingHandler" />
			<add name="MvcHttpHandler" preCondition="integratedMode" verb="*" path="*.mvc" type="System.Web.Mvc.MvcHttpHandler, System.Web.Mvc, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
		</handlers>
		<tracing>
			<traceFailedRequests>
				<add path="*">
					<traceAreas>
						<!--
            <add provider="ASP" verbosity="Verbose" />
            -->
						<add provider="ASPNET" areas="Infrastructure,Module,Page,AppServices" verbosity="Verbose" />
						<!--
            <add provider="ISAPI Extension" verbosity="Verbose" />
            <add provider="WWW Server"
                 areas="Authentication,Security,Filter,StaticFile,CGI,Compression,Cache,RequestNotifications,Module"
                 verbosity="Verbose" />
                 -->
					</traceAreas>
					<failureDefinitions timeTaken="00:00:15" statusCodes="400-599" />
				</add>
			</traceFailedRequests>
		</tracing>
	</system.webServer>
	<system.web>
		<compilation targetFramework="4.0" debug="true" />
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
        <machineKey decryption="AES" decryptionKey="0CA3EFAF0F7A5E7A62681C0BF656EE0ECE31ACEE3E1023BA3FAD20EA5F199DE8" validation="SHA1" validationKey="1561EAB9DBED399069461F624522A6CF3B41ACB49DE62168764FF0DCE537184F0535D5D9AD66DEDC97DC1ABFF7FA540B4DFD82E5BB196B95D15FF81F75AD5328" /></system.web></configuration>
